{% load static %}
{% load ratings %}


<div class="comments-tree">

    {% for comment in comments %}
        <div class="comment-card" id="comment-card-id-{{ comment.pk }}">
            <a class="comment-anchor" id="comment-anchor-{{ comment.pk }}"></a>
            <div class="author-comment">
                <div class="author-data">
                    <ul class="author-data">
                        <li>
                            {% if comment.author.profile_photo|length == 0 %}
                                <a href="{% url 'usersapp:user_detail' comment.author.pk %}"><img
                                        src="{% static 'svg/block_foto.svg' %}" alt={{ article.author.id }}></a>
                            {% else %}
                                <a href="{% url 'usersapp:user_detail' comment.author.pk %}"><img
                                        src=/media/{{ comment.author.profile_photo }} alt={{ article.author.id }}></a>
                            {% endif %}
                        </li>
                        <li>
                            <a href="{% url 'usersapp:user_detail' comment.author.pk %}"
                               class="author-name">{{ comment.author.username }}</a>
                        </li>
                        <li>
                            <h6-2>{{ comment.created_at }}</h6-2>
                        </li>
                    </ul>
                </div>
                {% if comment.parent_comment %}
                    <div class="parent-comment-preview">
                        <span>Ответ на: </span>
                        <a href="#comment-anchor-{{ comment.parent_comment.pk }}">
                            {{ comment.parent_comment.description|truncatechars:100 }}
                        </a>
                    </div>
                {% endif %}
                <div class="author-text">
                    <h5>
                        <h5-1><p>{{ comment.description }}</p></h5-1>
                    </h5>
                </div>
                <div>
                    {% if article.is_published %}
                        <ul class="lvc-group">
                            <li data-id="{{ comment.id }}" data-type="comment" data-action="like"
                                title="Нравится" class="like-comment-btn">
                                <img src="{% static 'svg/up4+.svg' %}" alt="like">
                            </li>
                            <h5-2-lvc data-count="positiveComment" class="positiveComment">
                                {% if comment.rating.like.count %}
                                    {{ comment.rating.like.count }}
                                {% else %}
                                    {{ comment.id|rating_positive_c }}
                                {% endif %}
                            </h5-2-lvc>
                            <li data-id="{{ comment.id }}" data-type="comment" data-action="dislike"
                                title="Не нравится" class="dislike-comment-btn">
                                <img src="{% static 'svg/down4+.svg' %}" alt="like">
                            </li>
                            <h5-2-lvc data-count="negativeComment" class="negativeComment">
                                {% if comment.rating.dislikes.count %}
                                    {{ comment.rating.dislikes.count }}
                                {% else %}
                                    {{ comment.id|rating_negative_c }}
                                {% endif %}
                            </h5-2-lvc>
                        </ul>
                    {% endif %}
                </div>
                <div class="comment-actions">
                    <button type="button" class="answer-button hidden"
                            data-answer-to="{{ comment.pk }}">Ответить
                    </button>
                    <button type="button" class="complaint-comment-button hidden"
                            data-complaint-to="{{ comment.pk }}">Пожаловаться
                    </button>
                </div>
                <div class="indent-60"></div>
            </div>
        </div>
    {% endfor %}

</div>
