{% extends 'mainapp/article_detail.html' %}
{% load static %}
{% load martortags %}
{% load comments %}
{% load ratings %}

{% block title %}
    {{ title }} :: {{ block.super }}
{% endblock %}

{% block toolbar %}
    {% include '_inc/profile_toolbar.html' %}
{% endblock %}
{##}
{#{% block content %}#}
{#    <div class="content-container">#}
{#        <h2>Жалоба</h2>#}
{#        <p>Пользователь FADSAS оставил жалобу на статью:</p>#}
{##}
{#    </div>#}
{#{% endblock %}#}

{% block right_content %}
    <div class="indent-40"></div> <!-- Топ контент -->
        <div class="top-info-menu-field">
            <div class="content-complaint-title">
                {% if user.is_staff %}
                    <h5-3>Жалобы пользователя <span class="username">{{ complaint_sender }}:</span></h5-3>
                {% else %}
                <h5-3>Мои жалобы:</h5-3>
                {% endif %}
            </div>
        </div>
        <div class="indent-10"></div>
        <div class="content-complaint">
            <ul class="user-complaints-list">
                {% for complaint in complaints %}
                <li class="user-complaint-item">
                    <div class="field-complaint">
                        {{ complaint.message }}
                        <div class="indent-50">
                        {% if user.is_staff %}
                            <!--Отклонить-->

                            <a href="{% url 'complaints:discard_complaint' complaint.pk %}" title="Отклонить">
                                <button  class="button25" type="submit">Отклонить</button>
                            </a>
                            <!--Принять-->
                            <a href="{% url 'complaints:approve_complaint' complaint.pk %}" title="Принять">
                                <button  class="button26" type="submit">Принять</button>
                            </a>

                        </div>
                        {% else %}
                            {% if complaint.status == 'M' %}
                                <!--Отозвать-->
                            <div class="indent-50">
                                <a href="{% url 'complaints:discard_complaint' complaint.pk %}" title="Отозвать">
                                    <button  class="button25" type="submit">Отозвать</button>
                                </a>
                            </div>
                            {% elif complaint.status == 'D' %}
                                (Отклонена)
                            {% elif complaint.status == 'A' %}
                                (Принята)
                            {% endif %}
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
