{% extends 'base.html' %}
{% load static %}

{% block menu %}
{% endblock %}

{% block content %}

    <div class="container">
        <div class="upper-margin"></div>
        <div class="message-complaint-discard">
            <div class="indent-10"></div>
            <div class="indent-20">
                <h4>Внимание!</h4>
            </div>
            <div class="indent-20">
                {% if complaint_sender == user %}
                    <h5>Вы действительно хотите отозвать свою жалобу?</h5>
                {% elif user.is_staff %}
                    <h5>Вы действительно хотите отклонить жалобу пользователя {{ complaint_sender }}?</h5>
                {% endif %}
            </div>
            <div class="message-box">
                <h6-3>{{ complaint.message }}</h6-3>
            </div>
            <div class="indent-20"></div>
                <form method="post">

                    <div class="indent-auto">
                        {% csrf_token %}
                        {% if complaint.sender != user %}
                            <div class="indent-20">
                                <h5>Комментарий отклонения жалобы:</h5>
                            </div>

                            <div class="block-complaint-discard-text">
                                <div class="input-textarea">
                                    <textarea name="reason" id="reason_id" cols="100" rows="5" class="article-complaint-input" ></textarea>
                                </div>
                            </div>
                            <div class="indent-10"></div>

                        {% endif %}
                    </div>
                    <div class="indent-50">
                        <a>
                            {% if complaint_sender == user %}
                                <button class="button12" type="submit">Да, отозвать!</button>
                            {% elif user.is_staff %}
                                <button class="button12" type="submit">Да, отклонить!</button>
                            {% endif %}
                        </a>


                        <button class="button13" type="button" onclick="window.history.back()">Нет, отмена</button>
                    </div>
                    <div class="indent-10"></div>
                </form>
        </div>
        <div class="indent-20"></div>
    </div>

{% endblock %}

{% block footer %}
{% endblock %}

