{% extends 'base.html' %}
{% load static %}
{% load martortags %}
{% load comments %}
{% load ratings %}

{% block title %}
    {{ title }} :: {{ block.super }}
{% endblock %}

{% block css %}
    <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
    <link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
{% endblock %}

{% block toolbar %}
    {% include '_inc/profile_toolbar.html' %}
{% endblock %}

{% block content %}
    <div class="content-container">
        {% if complaints %}
            <table class="table user-complaints-table">

                <thead>
                <tr>
                    <th scope="col">Цель жалобы</th>
                    <th scope="col">Название</th>
                    <th scope="col">Описание жалобы</th>
                    <th scope="col" colspan="3">Автор</th>
                </tr>
                </thead>

                <tbody>
                {% for complaint in complaints %}
                    <tr class="article-row">
                        {# complaint instance #}
                        <td scope="row" style="width: auto">
                            {{ complaint.content_type.name }}
                        </td>

                        {# complaint target title #}
                        <td>
                            {% if complaint.content_type.model == 'article' %}
                                <a href="{% url 'mainapp:article_detail' complaint.content_object.pk %}">
                                    {{ complaint.content_object|truncatechars:35 }}
                                </a>
                            {% elif complaint.content_type.model == 'complaint' %}
                                {# todo add link to complaint detail view #}
                                {{ complaint.content_object|truncatechars:35 }}
                            {% endif %}
                        </td>

                        {# complaint message #}
                        <td>{{ complaint.message|truncatechars:15 }}</td>

                        {# complaint sender #}
                        <td>{{ complaint.sender }}</td>

                        {# complaint status #}
                        {# todo replace status value to icon #}
                        <td>{{ complaint.status }}</td>

                        {# complaint date|actions #}
                        <td class="cell-date" style="width: 250px">{{ complaint.created_at }}</td>
                        <td class="cell-actions hidden" style="width: 250px">
                            {# todo replace text to svg#}
                            {% if user.is_staff %}
                                <a href="">Отконить</a>
                                <a href="">Удовл</a>
                            {% else %}
                                <a href="">Отозвать</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% elif not complaints %}
            <div class="empty-content-message">Жалоб нет</div>
        {% endif %}

    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/mainapp/user-articles-list.js' %}"></script>
{% endblock %}