{% extends 'base.html' %}
{% load static %}

<div class="wrapper-login">
    <div class="container-register">
        <form action="login.html" class="form-horizontal" method="post"
              enctype="multipart/form-data">


            <label class="text-mail">
                <input name="e-mail" class="text-login-placeholder" placeholder="Адрес электронной почты">
            </label>


            <label class="text-password">
                <input name="nic" class="text-login-placeholder" placeholder="Никнейм">
            </label>

            <label class="text-password">
                <input type="password" name="password" class="text-login-placeholder" placeholder="Введите пароль">
            </label>

            <label class="text-password2">
                <input type="password" name="password2" class="text-login-placeholder" placeholder="Повторите пароль">
            </label>


            <button class="form-control1" type="submit">Зарегистрироваться</button>


            <div class="text-alternative1">
                Уже зарегистрированы? <a href="index.html">Войдите</a>
            </div>
        </form>
    </div>

</div>
</body>
</html>
