{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta html-equiv="X-UA-Compatible" content="ie=edge">
    <title>Intergalactic Entertainment</title>

    {#    TODO поправить съехавшие отступы из-за бутстрапа#}
    <link href="{% static 'plugins/css/bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet"/>

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% block css %}{% endblock %}
</head>

<body>
<div class="wrapper">

    <div class="header">
        <div class="header-container">
            <a href="/"><img src="{% static 'svg/logo.svg' %}" alt="logo"></a>
        </div>
    </div>

    <div class="container">

        <div class="menu"> <!-- Блок меню. Состоит из двух групп: левого меню и правого.-->

            <div class="menu-left">
                <ul class="menu-left"> <!-- Прижат к левому краю блока-->
                    <li><a href="/">Все хабы</a></li>
                    {% for hub in hubs %}
                        <li><a href="{% url 'mainapp:hubs' hub.name %}">{{ hub.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="menu-right"> <!-- Прижат к правому краю блока-->
                <ul class="menu-right">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'usersapp:account'  user.pk %}">{{ user.username }}</a></li>
                        <li><a href="{% url 'usersapp:logout' %}" class="button1">Выход</a></li>
                        {% if user.is_superuser %}
                            <li><a href="{% url 'admin:index' %}" class="button1">Admin Panel</a></li>
                        {% endif %}
                        <!--Сделана как ссылка с кнопкой (не active)-->
                    {% endif %}
                    {% if user.is_anonymous %}
                        <li><a href="{% url 'usersapp:login' %}" class="button1">Вход</a></li>
                        <li><a href="{% url 'usersapp:registration' %}" class="button1">Регистрация</a></li>
                        <!--Сделана как ссылка с кнопкой (не active)-->
                    {% endif %}
                </ul>
            </div>

        </div>

        <div class="container">

            {% block content %} {% endblock %}

        </div>

    </div>
    <br>
    <div class="footer">
        <div class="footer-container">
            <p>All right reserved. </p>
            <p>{% now "jS F Y " %} </p>
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'plugins/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/bootstrap.min.js' %}"></script>
{% block js %}

{% endblock %}
</body>
</html>