{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Intergalactic Entertainment</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700,900" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/error.css' %}"/>
</head>

<body>

<div id="notfound">
    <div class="notfound-bg"></div>
    <div class="notfound">
        <div class="notfound-404">
            <h1>Вы заблокированы на 15 минут </h1>
        </div>
        <h2>мы сожалеем, но вы 3 раза ввели неверные аутентификационные данные</h2>
        <a href="{% url 'mainapp:index' %}" class="home-btn">На главную</a>
    </div>
</div>

</body>

</html>