{% extends 'base.html' %}
{% load static %}
{% load custom %}

{% block toolbar %}
    {% include '_inc/profile_toolbar.html' %}
{% endblock %}

{% block content %}
    <div class="indent-20"></div>

    <div class="content-container">
        <form action="{% url 'usersapp:modify' object.pk %}" class="form-register" method="post"
              enctype="multipart/form-data">
            <div class="section-left">
                <div class="section-part">
                    <div class="section-left-part">

                        <div class="indent-30"></div>

                        {% csrf_token %}
                        <div class="field-50">
                            <div class="block-text">
                                <h5-3>Никнейм:</h5-3>
                            </div>
                            <div class="block-info">
                                <div class="input-text">
                                    <div class="field-text-left">
                                        <h5-3> {{ object.username }} </h5-3>
                                    </div>
                                    <div class="input-text-right_bg"><!--<img src="{% static 'svg/check-box1.svg' %}"
                                                                              alt="+"> --></div>
                                </div>
                            </div>
                        </div>

                        <div class="field-50">
                            <div class="block-text">
                                <h5-3>E-mail:</h5-3>
                            </div>
                            <div class="block-info">
                                <div class="input-text">
                                    <div class="field-text-left">
                                        <h5-3>{{ object.email }}</h5-3>
                                    </div>
                                    <div class="input-text-right_bg"><!--<img src="{% static 'svg/check-box1.svg' %}"
                                                                              alt="+"> --></div>
                                </div>
                            </div>
                        </div>

                        <div class="field-50">
                            <div class="block-text">
                                <h5-3>{{ form.first_name.label_tag }}</h5-3>
                            </div>
                            <div class="block-info">
                                <div class="input-text">
                                    <div class="input-text-left">
                                        {{ form.first_name }}
                                    </div>
                                    <div class="input-text-right"><!--<img src="{% static 'svg/check-box1.svg' %}"
                                                                              alt="+"> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field-50">
                            <div class="block-text">
                                <h5-3>{{ form.last_name.label_tag }}</h5-3>
                            </div>
                            <div class="block-info">
                                <div class="input-text">
                                    <div class="input-text-left">
                                        {{ form.last_name }}
                                    </div>
                                    <div class="input-text-right"><!--<img src="{% static 'svg/check-box1.svg' %}"
                                                                              alt="+"> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field-110">
                            <div class="block-text">
                                <h5-3>{{ form.user_information.label_tag }}</h5-3>
                            </div>
                            <div class="block-info">
                                <div class="input-textarea">
                                    <div class="input-text-left">
                                        {{ form.user_information }}
                                    </div>
                                    <div class="input-text-right"><!--<img src="{% static 'svg/check-box1.svg' %}"
                                                                              alt="+"> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field-50">
                            <div class="block-text">
                                <h5-3>Пол:</h5-3>
                            </div>
                            <div class="block-info">
                                <div class="input-text">
                                    <div class="input-text-left">
                                        <div class="select-1">
                                            {{ form.gender }}
                                        </div>
                                    </div>
                                    <div class="input-text-right"><!--<img src="{% static 'svg/check-box1.svg' %}"
                                                                              alt="+"> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field-50">
                            <div class="block-text">
                                <h5-3>{{ form.birthday.label_tag }}</h5-3>
                            </div>
                            <div class="block-info">
                                <div class="input-text">
                                    <div class="input-text-left">
                                        {{ form.birthday }}
                                    </div>
                                    <div class="input-text-right"><!--<img src="{% static 'svg/check-box1.svg' %}"
                                                                              alt="+"> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field-50">
                            <div class="block-text">
                                <h5-3>Статус:</h5-3>
                            </div>
                            <div class="block-info">
                                <div class="input-text">
                                    <div class="field-text-left">
                                        {% if not object.is_staff and not object.is_superuser %}
                                            <h5-3>Пользователь</h5-3>
                                            {% elif object.is_staff and not object.is_superuser %}
                                            <h5-3>Модератор</h5-3>
                                            {% elif object.is_superuser %}
                                            <h5-3>Администратор</h5-3>
                                        {% endif %}
                                    </div>
                                    <div class="input-text-right_bg"><!--<img src="{% static 'svg/check-box1.svg' %}"
                                                                              alt="+"> --></div>
                                </div>
                            </div>
                        </div>

                        <div class="indent-30"></div>
                        <div class="indent-30">
                            <a href="{% url 'usersapp:delete' object.pk %}">
                                <button class="button10" type="button">
                                    Удалить аккаунт
                                </button>
                            </a>
                            <input class="button11" type="submit" value="Сохранить изменения">

                        </div>


                        <div class="indent-30"></div>

                    </div>
                    <div class="section-right-part">
                        <div class="block-foto">
                            {% if not object.profile_photo %}
                                <img src="{% static 'svg/block_foto.svg' %}" alt="std-avatar">
                            {% else %}
                                <img src="{{ object.profile_photo|media_folder }}" alt="photo"
                                     style="max-width: 100%; max-height: 100%;">
                            {% endif %}
                        </div>
                        <div class="block-foto-button">
                            <div class="field-foto-button">
                                {{ form.profile_photo }}
                            </div>
                        </div>
                        <div class="block-settings">
                            <div class="indent-20"></div>
                            <div class="field-50">
                                <div class="block-text">
                                    <h5-3>Редактор:</h5-3>
                                </div>
                                <div class="block-info">
                                    <div class="input-text">
                                        <div class="input-text-left">
                                            <div class="select-2">
                                                {{ form.article_redactor }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="indent-50-2">
                                <div class="a-rank">
                                    <a href="" title="Ваш рейтинг">
                                        <svg class="icon-author-rank"> <!--author rank -->
                                            <use xlink:href="#rank_star"></use>
                                        </svg>
                                    </a>
                                    <h5-1>:</h5-1>
                                </div>
                                <h5-3> {{user.get_total_user_rating}} </h5-3>
                            </div>
                        <div class="indent-50-2">
                            <h5-1>Публикаций: {{user.get_user_published_articles|length}}</h5-1>
                        </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section-right">

                <div class="section-right-block">

                </div>

            </div>
        </form>
    </div>

    <div class="indent-20"></div>
    <!-- Hidden SVG sprite -->
    <svg width="0" height="0" class="hidden">
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="rank_star">
            <path d="M8.99 2.586a1.125 1.125 0 012.018 0l1.965 3.98 4.394.639a1.125 1.125 0 01.623 1.92l-3.18 3.1.75 4.374c.16.92-.806 1.62-1.632 1.187l-3.93-2.067-3.929 2.067a1.126 1.126 0 01-1.633-1.187l.75-4.375-3.179-3.1c-.667-.65-.299-1.785.624-1.92l4.394-.637L8.99 2.586z"></path>
        </symbol>
    </svg>
{% endblock %}
