{% extends 'usersapp/base.html' %}
{% load static %}

{% block content %}
    <p>{{ object.username }}</p>
    <div class="alert " role="alert" style="margin-top: 50px;">
        <button class="form-control">
            <a href="{% url 'usersapp:modify' user.pk %}" class="">Редактировать данные</a>
        </button>
    </div>
    <div class="alert " role="alert" style="margin-top: 50px;">
        <button class="form-control">
            <a href="{% url 'usersapp:delete' user.pk %}" class="">Удалить аккаунт</a>
        </button>
    </div>
{% endblock %}