/*Общие свойства, свойства для главной*/

* {
    padding: 0px;
    margin: 0px;
}

*, ::after, ::before {
    box-sizing: initial;
}

html,
body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

:root {
    --main-bg-color: #FFFFFF;
    --section-bg-color: #E9E9E9;
    --section-fail-color: #FFD8D8;
    --section-warning-color: #FCFFD8;
    --section-success-color: #DDFFDC;
    --footer-bg-color: #C8C8C8;
    --primary-color: #48B5FF; /*the color of the blue elements*/
    --secondary-color: #5085A9; /*color "Read more"*/
    --header-bg-color: #000000;
    --text-color: #000000;
    --text-secondary-color: black;
    --text-secondary-opacity: 0.6;
    --text-sup-color1: #48B5FF; /*basic blue*/ /*Profile - About yourself*/
    --text-sup-color2: #00A17B; /*green*/ /*Profile - About yourself*/
    --text-sup-color3: #6B6B6B; /*gray*/ /*Profile - About yourself*/
    --primary-opacity: 0.3; /*the color of the "register" button"*/
    --secondary-opacity: 0.3; /*the color of the frame "Read more"*/
    --header-opacity: 0.7; /*background header"*/
    --text-opacity: 0.6;
    --link-hover-color: #5085A9;
    --link-active-color: #48B5FF;
    --danger-color: #FF4848;
    --warning-color: yellow;
    --success-color: green;
}

sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
    top: -.5em;
}

a:hover {
    text-decoration: none;
}

.header-container {
    width: 1140px;
    margin: 0 auto
}

.container {
    width: 1140px;
    margin: 0 auto;
    padding: 0;
}

.header {
    background-color: var(--header-bg-color);
    opacity: var(--header-opacity);
    height: 60px;
}

.menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    flex-direction: row;
    position: sticky;
    top: 0;
    z-index: 50;
    background-color: var(--main-bg-color);
    border-bottom: 1px solid;
    border-color: var(--section-bg-color);
}

ul {
    margin: 0;
    padding: 0;
}

ul.menu-left { /* Menu list */
    background-color: var(--main-bg-color);
    display: flex;
    height: 60px;
    align-items: center;
}

ul.menu-left li { /* Menu list items */
    font-family: Roboto, Verdana, sans-serif;
    display: inline; /* Display as a lowercase element */
    /* margin-right: 20px;*/
    margin-left: 20px;
    text-align: center;
}

ul.menu-right { /* Menu List */
    background-color: var(--main-bg-color);
    display: flex;
    height: 60px;
    align-items: center;
    padding-right: 20px;
}

ul.menu-right li { /* Menu list items*/
    font-family: Roboto, Verdana, sans-serif;
    display: inline;
    /*margin-right: 5px;*/
    margin-left: 20px;
    text-align: center;
}

.link-menu { /* Menu list items */
    color: var(--text-color); /* Link color */
    text-decoration: none; /* remove the underscore */
    font-size: 14px;
    transition: color 0.3s ease 0s;
    font-weight: 500;
}

.link-menu:hover {
    color: var(--link-active-color);
}

.link-menu:active {
    color: var(--link-active-color);
}

.article-heading-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 24px;
}

.article-heading-link:hover {
    color: var(--link-active-color);
    text-decoration: none;
}

.button1 {
    transition: color 0.3s ease 0s;
    background: rgba(72, 181, 255, 0.2);
    border-radius: 5px;
    color: var(--text-color);
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}

.button2 {
    transition: color 0.3s ease 0s;
    background: var(--main-bg-color);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--secondary-color);
    color: var(--link-hover-color);
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}

.button1:hover {
    background: rgba(72, 181, 255, 0.6);
    color: var(--main-bg-color);
}

.button2:hover {
    background: rgba(72, 181, 255, 0.2);
    color: var(--header-bg-color);
    border-color: rgba(72, 181, 255, 0.2);
}

.section-title {
    background: var(--section-bg-color);
    display: flex;
    height: 90px;
    align-items: center;
    padding-left: 20px;
}

.section-menu {
    position: sticky;
    top: 60px;
    z-index: 20;
}

ul.section-menu {
    background: var(--section-bg-color);
    display: flex;
    height: 60px;
    align-items: center;
}

ul.section-menu li { /* Menu list items */
    font-family: Roboto, Verdana, sans-serif;
    display: inline;

    margin-left: 20px;
    text-align: center;
}

.section-indent {
    background: var(--main-bg-color);
    height: 40px;
}

.content-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    flex-direction: row;
}

.section-left {
    width: 753px;
    background: var(--main-bg-color);
}

.section-right {
    width: 367px;
}

.section-right-block {
    width: 367px;
    /*height: 520px;*/
}

.chapter {
    display: flex;
    height: 30px;
    align-items: center;
}

h2 {
    font-family: Roboto, Verdana, sans-serif;
    font-weight: 400;
    color: var(--primary-color);
    font-size: 1.5em;
    margin-bottom: 0;
}

h2-2 {
    color: var(--text-color);
}

h3 {
    font-family: Roboto, Verdana, sans-serif;
    font-weight: 400;
    color: var(--text-color);
}


h5-1 {
    font-family: Roboto, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 500;
    /*margin-left: 10px;*/
    color: var(--text-color);
    text-indent: 25px;
}

h5 {
    font-family: Roboto, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color);
}

h5-2 {
    font-family: Roboto, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
    color: var(--secondary-color);
    padding-right: 35px;
}

h5-2-lvc { /*+chart color */
    font-family: Roboto, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--secondary-color);
    padding-right: 5px;
    margin-left: 5px;
}

h5-2-lvc-plus { /*+chart  color */
    font-family: Roboto, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--primary-color);
    padding-right: 5px;
}

h5-2-lvc-minus { /*-chart  color */
    font-family: Roboto, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--danger-color);
    padding-right: 5px;
}

h5-4-lvc { /*-chart color */
    font-family: Roboto, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-left: 5px;
    color: var(--danger-color);
    padding-right: 5px;
}

h6-1 {
    font-family: Roboto, Verdana, sans-serif;
    font-size: 12px;
    font-weight: 500;
    margin-left: 10px;
    color: var(--text-color);
}

h6-2 {
    font-family: Roboto, Verdana, sans-serif;
    font-size: 12px;
    font-weight: 500;
    margin-left: 10px;
    color: var(--text-color);
    opacity: var(--text-opacity);
}

h6-3 {
    font-family: Roboto, Verdana, sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: var(--text-color);
    opacity: var(--text-opacity);
}

ul.author-data {
    display: flex;
    height: 40px;
    align-items: center;
}

ul.author-data li { /* Menu list items */
    font-family: Roboto, Verdana, sans-serif;
    display: inline; /* Display as a lowercase element */
    text-align: center;
}


.open-text {
    height: 50px;
    display: flex;
    align-items: center;
}

ul.lvc-field {
    height: 30px;
    display: flex;
    align-items: center;
    /*padding-right: 100px;*/
    margin-left: 0px;
}

ul.lvc-field li {
    font-family: Roboto, Verdana, sans-serif;
    display: inline; /* Display as a lowercase element */
    margin-right: 0px;
    text-align: center;
}

.lvc-group { /* Menu list items */
    font-family: Roboto, Verdana, sans-serif;
    display: inline; /* Display as a lowercase element */
    margin-right: 0px;
    text-align: center;
    justify-align: center;
}

ul.lvc-group {
    height: 30px;
    display: flex;
    margin-right: 5px;
    margin-left: 20px;
}

ul.lvc-group li {
    font-family: Roboto, Verdana, sans-serif;
    display: inline; /* Display as a lowercase element */
    margin-right: 0px;
    text-align: center;
}

.footer-container {
    width: 1140px;
    margin: 0 auto
}

.footer {
    background: var(--footer-bg-color);
    height: 60px;
}


/*Registration, login and geekhub-message*/
.upper-margin {
    height: 65px;
}

.container-register {
    display: flex;
    flex-flow: row-wrap;
    justify-content: space-between;
}

.card {
    height: 420px;
    margin: 0 0 20px;
    width: 100%;
    border: none;
}

.cart-bg {
    background: var(--section-bg-color);
    border-radius: 5px;
}

.indent-60 {
    height: 60px;
    display: flex;
    align-items: center;
}

.indent-50 {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.indent-40 {
    height: 40px;
    display: flex;
    align-items: center;
}

.indent-35 {
    height: 35px;
    display: flex;
    align-items: center;
}

.indent-30 {
    height: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.indent-15 {
    height: 15px;
    display: flex;
    align-items: center;
}

.indent-10 {
    height: 10px;
    display: flex;
    align-items: center;
}

.input-text {
    display: flex;
    width: 80%;
    height: 30px;
    align-items: center;
    background: var(--main-bg-color);
    border-radius: 5px;
    color: var(--text-color);
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0 auto;
    flex-direction: row;
}

.placeholder {
    border: none;
    margin-left: 20px;
}

.button3 {
    transition: color 0.3s ease 0s;
    font-weight: 500;
    background: rgba(72, 181, 255, 0.2);
    border-radius: 5px;
    color: var(--text-color);
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border: none;
    font-family: Roboto, Verdana, sans-serif;
}

.button3:hover {
    background: rgba(72, 181, 255, 0.6);
    color: var(--main-bg-color);
}


input[type="password"] {
    color: var(--text-color);
    outline: none;
    font-size: 14px;
    font-family: Roboto, Verdana, sans-serif;
    font-weight: 500;
}

input.editor-placeholder[type="text"] {
    color: var(--text-color);
    outline: none;
    font-size: 14px;
    font-family: Roboto, Verdana, sans-serif;
    font-weight: 500;
    width: 850px;
}

input-text-left {
    display: flex;
    align-items: center;
}

input-text-right {
    display: flex;
    align-items: center;
}

/*For Login*/

.container-login {
    display: flex;
    flex-flow: row-wrap;
    justify-content: space-between;
}

.button4 {
    transition: color 0.3s ease 0s;
    font-weight: 500;
    background: rgba(72, 181, 255, 0.2);
    border-radius: 5px;
    color: var(--text-color);
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border: none;
    font-family: Roboto, Verdana, sans-serif;
}

.button4:hover {
    background: rgba(72, 181, 255, 0.6);
    color: var(--main-bg-color);
}

/*.button4:active, button:focus {
  outline: none;
  color: var(--text-color);
}
.button4::-moz-focus-inner {
  border: 0;
}*/

/*For geekhub-message*/
.indent-20 {
    min-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.message {
    background: var(--section-bg-color);
    height: auto;
    width: 75%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 5px;
}

.button5 {
    transition: color 0.3s ease 0s;
    font-weight: 500;
    background: rgba(72, 181, 255, 0.2);
    border-radius: 5px;
    color: var(--text-color);
    padding: 8px 23px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border: none;
    font-family: Roboto, Verdana, sans-serif;
}

.button5:hover {
    background: rgba(72, 181, 255, 0.6);
    color: var(--main-bg-color);
}

.message-text {
    font-family: Roboto, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color);
    text-indent: 25px;
}

/*For confirmation_registration*/

.message-success {
    background: var(--section-success-color);
    height: auto;
    width: 75%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 5px;
}

.message-warning {
    background: var(--section-warning-color);
    height: auto;
    width: 75%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 5px;
}

.button6 {
    transition: color 0.3s ease 0s;
    font-weight: 500;
    background: rgba(72, 181, 255, 0.2);
    border-radius: 5px;
    color: var(--text-color);
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border: none;
    font-family: Roboto, Verdana, sans-serif;
}

.button6:hover {
    background: rgba(72, 181, 255, 0.6);
    color: var(--main-bg-color);
}

/*For registration_fail*/

.message-fail {
    background: var(--section-fail-color);
    height: auto;
    width: 75%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 5px;
}

.button7 {
    transition: color 0.3s ease 0s;
    font-weight: 500;
    background: rgba(72, 181, 255, 0.2);
    border-radius: 5px;
    color: var(--text-color);
    padding: 8px 12px;
    margin-right: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border: none;
    font-family: Roboto, Verdana, sans-serif;
}

.button7:hover {
    background: rgba(72, 181, 255, 0.6);
    color: var(--main-bg-color);
}

.button8 {
    transition: color 0.3s ease 0s;
    font-weight: 500;
    background: rgba(72, 181, 255, 0.2);
    border-radius: 5px;
    color: var(--text-color);
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border: none;
    font-family: Roboto, Verdana, sans-serif;
}

.button8:hover {
    background: rgba(72, 181, 255, 0.6);
    color: var(--main-bg-color);
}

.active-menu-link {
    color: var(--primary-color);
}

/*About me (geekhubuser_update.html)*/

s-1 { /*the color and style of the superscript in the list section-menu, Drafts, Moderation*/
    font-family: Roboto, Verdana, sans-serif;
    color: var(--text-sup-color1);
    font-weight: 700;
}

s-2 { /*the color and style of the superscript in the list section-menu, My articles*/
    font-family: Roboto, Verdana, sans-serif;
    color: var(--text-sup-color2);
    font-weight: 700;
}

s-3 { /*the color and style of the superscript in the list section-menu, Basket*/
    font-family: Roboto, Verdana, sans-serif;
    color: var(--text-sup-color3);
    font-weight: 700;
}

/* For field birthday in geekhubuser_update.html, redefinition bootstrap, it may not be necessary */
.form-control {
    padding: 0rem 0rem !important;
}

/* For field birthday and selects in geekhubuser_update.html, redefinition bootstrap */
select {
    outline: none;
    font-size: 14px;
    font-family: Roboto, Verdana, sans-serif;
    font-weight: 500;
    min-width: 100px !important;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.section-part {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    flex-direction: row;
}

.section-left-part {
    width: 463px;
    height: 580px;
    background: var(--section-bg-color); /* цвет фона */
    border-radius: 5px;
}

.section-right-part {
    width: 270px;
    height: 580px;
}

.block-foto {
    width: 270px;
    height: 270px;
}

.block-foto-button {
    width: 270px;
    height: 50px;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
}

.block-settings {
    width: 270px;
    height: 260px;
    background: var(--section-bg-color);
    border-radius: 5px;
}

.button9 {
    transition: color 0.3s ease 0s;
    font-weight: 500;
    background: rgba(72, 181, 255, 0.2);
    border-radius: 5px;
    color: var(--text-color);
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border: none;
    font-family: Roboto, Verdana, sans-serif;
}

.button9:hover {
    background: rgba(72, 181, 255, 0.6);
    color: var(--main-bg-color);
}


.button10 {
    transition: color 0.3s ease 0s;
    font-weight: 500;
    background: rgba(255, 216, 216, 1);
    border-radius: 5px;
    color: var(--text-color);
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border: none;
    font-family: Roboto, Verdana, sans-serif;
    margin-right: 20px;
}

.button10:hover {
    background: rgba(255, 160, 160, 1);
    color: var(--main-bg-color);
}

.button11 {
    transition: color 0.3s ease 0s;
    font-weight: 500;
    background: rgba(72, 181, 255, 0.2);
    border-radius: 5px;
    color: var(--text-color);
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border: none;
    font-family: Roboto, Verdana, sans-serif;
}

.button11:hover {
    background: rgba(72, 181, 255, 0.6);
    color: var(--main-bg-color);
}

.field-50 {
    height: 50px;
    display: flex;
}

.field-110 {
    height: 110px;
    display: flex;
    align-items: center;
}

.field-text-left {
    width: 300px;
    height: 30px;
    display: flex;
    justify-content: left;
    background: var(--section-bg-color);
    align-items: center;
}

.block-text {
    width: 97px;
    height: 50px;
    display: flex;
    align-items: center;
}

.block-info {
    width: 366px;
    height: 50px;
    align-items: center;
    display: flex;
}

h5-3 {
    font-family: Roboto, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 20px;
}

.input-text-right_bg {
    display: flex;
    align-items: center;
    background: var(--section-bg-color);
}

.input-textarea {
    display: flex;
    width: 80%;
    height: 90px;
    align-items: center;
    background: var(--main-bg-color);
    border-radius: 5px;
    color: var(--text-color);
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0 auto;
    flex-direction: row;
}

textarea {
    color: var(--text-color);
    outline: none;
    font-size: 14px;
    font-family: Roboto, Verdana, sans-serif;
    font-weight: 500;
    width: 245px;
    height: 87px;
    border: none;
    resize: none;
    /*maxlength: "100";*/
}

.select-1 {
    color: var(--text-color);
    outline: none;
    font-size: 14px;
    font-family: Roboto, Verdana, sans-serif;
    font-weight: 500;
    width: 245px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-2 {
    color: var(--text-color);
    outline: none;
    font-size: 14px;
    font-family: Roboto, Verdana, sans-serif;
    font-weight: 500;
    width: 100px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="date"] {
    color: var(--text-color);
    outline: none;
    font-size: 14px;
    font-family: Roboto, Verdana, sans-serif;
    font-weight: 500;
    width: 220px;
    border: none;
    margin-left: 20px;
    height: 30px;
}

.button12 {
    transition: color 0.3s ease 0s;
    font-weight: 500;
    background: rgba(255, 190, 190, 1);
    border-radius: 5px;
    color: var(--text-color);
    padding: 8px 12px;
    margin-right: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border: none;
    font-family: Roboto, Verdana, sans-serif;
}

.button12:hover {
    background: rgba(255, 160, 160, 1);
    color: var(--main-bg-color);
}

.button13 {
    transition: color 0.3s ease 0s;
    font-weight: 500;
    background: rgba(72, 181, 255, 0.2);
    border-radius: 5px;
    color: var(--text-color);
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border: none;
    font-family: Roboto, Verdana, sans-serif;
}

.button13:hover {
    background: rgba(72, 181, 255, 0.6);
    color: var(--main-bg-color);
}

/*For article_form*/

.indent-30-2 {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button14 {
    transition: color 0.3s ease 0s;
    background: var(--main-bg-color);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--secondary-color);
    color: var(--link-hover-color);
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 10px;
}

.button14:hover {
    background: rgba(72, 181, 255, 0.2);
    color: var(--header-bg-color);
    border-color: rgba(72, 181, 255, 0.2);
}

.button15 {
    transition: color 0.3s ease 0s;
    background: var(--main-bg-color);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--secondary-color);
    color: var(--link-hover-color);
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    margin-left: 12px;
    margin-right: 18px;
}

.button15:hover {
    background: rgba(72, 181, 255, 0.2);
    color: var(--header-bg-color);
    border-color: rgba(72, 181, 255, 0.2);
}

.button16 {
    transition: color 0.3s ease 0s;
    background: var(--main-bg-color);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--secondary-color);
    color: var(--link-hover-color);
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px;
}

.button16:hover {
    background: rgba(152, 240, 149, 0.6);
    color: var(--header-bg-color);
    border-color: rgba(72, 181, 255, 0.2);
}

.button17 {
    transition: color 0.3s ease 0s;
    background: var(--main-bg-color);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--secondary-color);
    color: var(--link-hover-color);
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px;
}

.button17:hover {
    background: rgba(255, 230, 230, 1);
    color: var(--header-bg-color);
    border-color: rgba(72, 181, 255, 0.2);
}

.button18 {
    transition: color 0.3s ease 0s;
    background: var(--main-bg-color);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--secondary-color);
    color: var(--link-hover-color);
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    /*margin-left: 20px;*/
    margin-right: 10px;
}

.button18:hover {
    background: rgba(72, 181, 255, 0.2);
    color: var(--header-bg-color);
    border-color: rgba(72, 181, 255, 0.2);
}

.button19 {
    transition: color 0.3s ease 0s;
    background: var(--main-bg-color);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--secondary-color);
    color: var(--link-hover-color);
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 20px;
}

.button19:hover {
    background: rgba(255, 230, 230, 1);
    color: var(--header-bg-color);
    border-color: rgba(72, 181, 255, 0.2);
}

.button20 {
    transition: color 0.3s ease 0s;
    background: var(--main-bg-color);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--secondary-color);
    color: var(--link-hover-color);
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 10px;
}

.button20:hover {
    background: rgba(72, 181, 255, 0.2);
    color: var(--header-bg-color);
    border-color: rgba(72, 181, 255, 0.2);
}

/*For article_detail.html*/

.my-text {
    justify-content: center;
    border-color: rgba(72, 181, 255, 0.2);
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    background: var(--section-bg-color);
}

.editor-field {
    height: 170px;
    background: var(--main-bg-color);
}

.button21 {
    transition: color 0.3s ease 0s;
    background: var(--main-bg-color);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--secondary-color);
    color: var(--link-hover-color);
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 10px;
}

.button21:hover {
    background: rgba(72, 181, 255, 0.2);
    color: var(--header-bg-color);
    border-color: rgba(72, 181, 255, 0.2);
}

.button22 {
    transition: color 0.3s ease 0s;
    background: var(--main-bg-color);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--secondary-color);
    color: var(--link-hover-color);
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px;
}

.button22:hover {
    background: rgba(152, 240, 149, 0.6);
    color: var(--header-bg-color);
    border-color: rgba(72, 181, 255, 0.2);
}

.container-editor {
    width: 1140px;
    margin-bottom: 20px;
}

.draft-button {
    height: 50px;
    display: flex;
    align-items: center;
    background-color: var(--section-bg-color);
    position: sticky;
    top: 120px;
    z-index: 10;
}

.editor-block-text {
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: var(--section-bg-color);
}

.editor-input-text {
    display: flex;
    width: 900px;
    height: 30px;
    align-items: center;
    background: var(--main-bg-color);
    border-radius: 5px;
    color: var(--text-color);
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-left: 58px;
    flex-direction: row;
}

.editor-select-text {
    display: flex;
    width: 210px;
    height: 30px;
    align-items: center;
    background: var(--main-bg-color);
    border-radius: 5px;
    color: var(--text-color);
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-left: 58px;
    flex-direction: row;
}

.editor-block-info {
    width: 1000px;
    height: 50px;
    align-items: center;
    display: flex;
    background-color: var(--section-bg-color);
}

/*For article_editor.html*/

.select-3 {
    color: var(--text-color);
    outline: none;
    font-size: 14px;
    font-family: Roboto, Verdana, sans-serif;
    font-weight: 500;
    width: 180px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-left: 8px;
}

input.placeholder[type="text"] {
    color: var(--text-color);
    outline: none;
    font-size: 14px;
    font-family: Roboto, Verdana, sans-serif;
    font-weight: 500;
    width: auto;
}

.editor-placeholder {
    border: none;
    margin-left: 8px;
}

.block-editor-body {
    height: 500px;
}

/* reset bootstrap styles for markdown editor */
div.martor-preview {
    background-color: transparent;
    padding: 0;
    overflow: auto;
}

code {
    color: inherit;
}

.placeholder {
    border: none;
    margin-left: 20px;
}

:focus::-webkit-input-placeholder {
    color: transparent
}

:focus::-moz-placeholder {
    color: transparent
}

:focus:-moz-placeholder {
    color: transparent
}

:focus:-ms-input-placeholder {
    color: transparent
}

.answer {
    color: rgb(90, 162, 71);
}

.error {
    color: rgb(255, 129, 129);
}

.hidden {
    visibility: hidden;
    width: 0;
    height: 0;
    z-index: -99;
}

textarea.comment-area {
    width: 100%;
}

.new-edit-menu {
    font-family: Roboto, Verdana, sans-serif;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    flex-direction: row;
}

.icon-new {
    width: 28px; /* ширина иконки */
    height: 28px; /* высота иконки */
    fill: var(--header-bg-color); /* цвет заливки иконки */
    fill-opacity: var(--header-opacity);
    /*fill: #808080; /* цвет заливки иконки */
    transition: 0.25s; /* плавное изменение цвета при наведении */
    margin-left: 0px;
    margin-right: 17px;
}

.icon-new:hover {
    fill: #48B5FF; /* цвет заливки иконки при наведении */
    fill-opacity: 1.0;
}

.icon-user {
    width: 28px; /* ширина иконки */
    height: 28px; /* высота иконки */
    fill: var(--header-bg-color); /* цвет заливки иконки */
    fill-opacity: var(--header-opacity);
    /*fill: #808080; /* цвет заливки иконки */
    transition: 0.25s; /* плавное изменение цвета при наведении */
}

.icon-user:hover {
    fill: #48B5FF; /* цвет заливки иконки при наведении */
    fill-opacity: 1.0;
}

.icon-edit {
    width: 28px; /* ширина иконки */
    height: 28px; /* высота иконки */
    fill: var(--header-bg-color); /* цвет заливки иконки */
    fill-opacity: var(--header-opacity);
    /*fill: #808080; /* цвет заливки иконки */
    transition: 0.25s; /* плавное изменение цвета при наведении */
    /*margin-left: 17px;*/
}

.icon-edit:hover {
    fill: #48B5FF; /* цвет заливки иконки при наведении */
    fill-opacity: 1.0;
}

.icon-up {
    width: 20px; /* ширина иконки */
    height: 20px; /* высота иконки */
    fill: #808080; /* цвет заливки иконки */
    transition: 0.25s; /* плавное изменение цвета при наведении */
    /*display:block;*/
    /*display:inline-block;*/
    /*pointer-events: none;*/
}


.icon-up:hover {
    fill: #48B5FF; /* цвет заливки иконки при наведении */
    /*fill: #0075FF;*/
}

.icon-down {
    width: 20px; /* ширина иконки */
    height: 20px; /* высота иконки */
    fill: #808080; /* цвет заливки иконки */
    transition: 0.25s; /* плавное изменение цвета при наведении */
}

.icon-down:hover {
    fill: #FF4848; /* цвет заливки иконки при наведении */
    /*fill: #F80000*/
}

.icon-comment {
    width: 20px; /* ширина иконки */
    height: 20px; /* высота иконки */
    fill: #5085A9; /* цвет заливки иконки */
    transition: 0.25s; /* плавное изменение цвета при наведении */
}

.icon-comment:hover {
    fill: #48B5FF; /* цвет заливки иконки при наведении */
    /*fill: #0075FF;*/
}

.hidden {
    display: none;
}

.dropbtn {
    background-color: var(--main-bg-color);
    color: white;
    /*padding: 16px;*/
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--section-bg-color);
    min-width: 0 auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 1);
    z-index: 100;
    border-radius: 5px;
    padding: 0px 16px;

}

.dropdown-content a {
    color: black;
    background-color: var(--section-bg-color);
    text-decoration: none;
    display: block;
}

/*.dropdown-content a:hover {background-color: #ddd;}*/

.dropdown:hover .dropdown-content {
    display: block;
}

/*.dropdown:hover .dropbtn {background-color: #3e8e41;}*/

.menu-dropdown { /* Menu List */
    background-color: var(--section-bg-color);
    display: flex;
    height: 0 auto;
    align-items: center;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.field-foto-button {
    padding-top: 10px;
}

.indent-50-2 {
    height: 50px;
    display: flex;
    align-items: center;
    background-color: var(--section-bg-color);
}

/*label {
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#red {
  display: none;
}

svg {
  display: block;
}

foreignObject svg {
  pointer-events: none;
}

#luent_comment-24-filled_active {
  fill: #5085A9
  pointer-events: all;
}

#red:checked + svg #luent_comment-24-filled_active {
  fill: #0075FF;
}*/
.answer-button {
    position: absolute;
    background-color: transparent;
    border: none;
    color: #707070;
}

.parent-comment-small {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    flex-direction: row;
    width: 100%;
    height: auto;
    border-radius: 5px;
    align-items: center;
}

.field-left {
    width: 95%;
    /*margin-left: 20px;*/
    vertical-align: middle;
    margin: 0px 0px 0px 80px;
}

.field-right {
    width: 5%;
    text-align: center;
}

.close-answer-button {

}


.icon-X {
    width: 20px; /* ширина иконки */
    height: 20px; /* высота иконки */
    fill: #808080;
    transition: 0.25s; /* плавное изменение цвета при наведении */
    /*margin-bottom: 1rem;*/
}

.icon-X:hover {
    fill: var(--primary-color); /* цвет заливки иконки при наведении */
    /*fill: #0075FF;*/
}

.parent-comment-preview {
    font-family: Roboto, Verdana, sans-serif;
    font-size: 12px;
    background: var(--section-bg-color);
    border-radius: 5px;
    margin: 0px 0px 0px 80px;
    padding: 8px 12px;
    text-indent: 15px;
}

.parent-comment-text {
    font-family: Roboto, Verdana, sans-serif;
    font-size: 12px;
    padding: 8px 12px;
    text-indent: 15px;
    background-color: var(--section-bg-color);
    border-radius: 5px;
}

.button-field {
    background-color: #red;
}

p {
    margin-bottom: 0rem;
}

.answer-button {
    margin-top: 1rem;
}

.section-left-text {
    margin-bottom: 20px;
}

.opacity-div {
    background-color: rgba(255, 255, 255, 0.1);
}

.author-text {
    margin-top: 10px;
}


/*.icon-arrow {
    width: 40px;
    height: 40px;
    fill: #FFFFFF;
    Stroke: #808080;
    transition: 0.25s;
}

.icon-arrow:hover {
    stroke: var(--primary-color);
}*/

.show-all-comments-button {
    width: 100%;
    height: 20px;
    color: var(--text-sup-color3);
    text-align: center;
    padding: 5px 0;
}

.show-all-comments-button:hover {
    border-radius: 5px;
    background-color: var(--section-success-color);
    cursor: pointer;
}

a.comment-anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

.icon-notifications {
    width: 28px; /* ширина иконки */
    height: 28px; /* высота иконки */
    fill: var(--header-bg-color); /* цвет заливки иконки */
    fill-opacity: var(--header-opacity);
    /*fill: #808080; /* цвет заливки иконки */
    transition: 0.25s; /* плавное изменение цвета при наведении */
    /*margin-left: 17px;*/
}

.icon-notifications:hover {
    fill: #48B5FF; /* цвет заливки иконки при наведении */
    fill-opacity: 1.0;
}

ul.author-data li img {
    max-width: 40px;
    border-radius: 40px;
}