* {
    padding: 0px;
}
body{
    width: 100%;
}
.wrapper-login, .container-login, .form-horizontal,.container-message{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.container-login {
    border-radius: 5px;
    margin: 290px auto;
    width: 366px;
    height: 320px;
    background: #E9E9E9;
}

.form-horizontal{
    align-self:flex-start;
    justify-content: center;
    box-sizing: border-box;
}


.text-login{
    justify-content: flex-start;
    margin-top: 70px;
    width: 300px;
    height: 30px;
    background: #FFFFFF;
    border-radius: 5px;

}

.text-password{
    margin-top:30px;
    width: 300px;
    height: 30px;
    background: #FFFFFF;
    border-radius: 5px;

}
.text-login-placeholder{
    box-sizing: border-box;
    display: flex;
    width: 280px;
    margin-left: 12px;
    margin-top: 7px;
    font-family: Roboto, "Times New Roman", serif ;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: rgba(0, 0, 0, 0.4);
}

input {
    background-image: url("../../../static/svg/vector.svg");
    background-repeat: no-repeat; /*Убираем повтор изображения*/
    background-position: bottom 0px right 0px; /*Позиционируем*/
    border: none;
    outline: none; /*убираем стандартную обводку браузера*/
    -moz-border-radius: 5px; /*закругляем углы для Mozilla*/
    -webkit-border-radius: 5px; /*закругляем углы для Chrome, Safari*/
}


.form-control{
    margin-top:40px;
    width: 156px;
    height: 30px;
    border-radius: 5px;
    background: rgba(72, 181, 255, 0.3)
}

.text-alternative{
    margin: 15px 111px;
    height: 14px;
    width: 100%;
    font-family: Roboto, SansSerif, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}


/*Sector for message text*/
.container-message{
    justify-content: center;
    padding-bottom: 22px;
    padding-top: 21px;
    margin: 290px auto;  
    width: 754px;
    height: 120px;
    background: #E9E9E9;
}
.container-message p{
    display: flex;
    height: 16px;
    left: 123px;
    font-family: Roboto, "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: rgba(0, 0, 0, 0.6);
    margin-block-start: 0;
    margin-block-end: 0;
}
.p-end{
    padding-top: 24px;
}
