    /*Общие свойства, свойства для главной*/

    * {
        padding: 0px;
        margin: 0px;
    }

    :root {
      --main-bg-color: #FFFFFF;
      --section-bg-color: #E9E9E9;
      --section-fail-color: #FFD8D8;
      --section-success-color:#DDFFDC;
      --footer-bg-color: #C8C8C8;
      --primary-color: #48B5FF; /*цвет синих элементов*/
      --secondary-color: #5085A9; /*цвет "Читать далее"*/
      --header-bg-color: #000000;
      --text-color: #000000;
      --text-secondary-color: black;
      --text-secondary-opacity: 0,6;
      --text-sup-color1: #48B5FF; /*основной синий*/      /*Профиль - О себе*/
      --text-sup-color2: #00A17B; /*зеленый*/             /*Профиль - О себе*/
      --text-sup-color3: #6B6B6B; /*серый*/               /*Профиль - О себе*/
      --primary-opacity: 0.3; /*цвет кнопки "регистрация"*/
      --secondary-opacity: 0.3; /*цвет рамки "Читать далее"*/
      --header-opacity: 0.7; /*фон header"*/
      --text-opacity: 0.6;
      --link-hover-color: #5085A9;
      --link-active-color: #48B5FF;
      --da--link-active-colornger-color: red;
      --warning-color: yellow;
      --success-color: green;
    }

    .header-container {
        width: 1140px;
        margin: 0 auto
    }

    .container {
        width: 1140px;
        margin: 0 auto
        /*padding: 0;*/
    }

    .header {
        background-color: var(--header-bg-color);
        opacity: var(--header-opacity);
        height: 60px;
    }

    .menu {
        display: flex;
	    justify-content: space-between;
	    flex-wrap: nowrap;
	    margin: 0;
	    padding: 0;
	    flex-direction: row;
    }

    ul.menu-left {   /* Список меню */
        background-color: var(--main-bg-color); /* цвет фона */
        display: flex;
        height: 60px;
        align-items: center;
    }

    ul.menu-left li {   /* Пункты списка меню */
        font-family: Roboto, Verdana, sans-serif;
        display: inline; /* Отображать как строчный элемент */
        /* margin-right: 20px; Отступ слева */
        margin-left: 20px;  /* Отступ справа */
        text-align: center;
    }

    ul.menu-right {   /* Список меню */
        background-color: var(--main-bg-color); /* цвет фона */
        display: flex;
        height: 60px;
        align-items: center;
    }

    ul.menu-right li {   /* Пункты списка меню */
        font-family: Roboto, Verdana, sans-serif;
        display: inline; /* Отображать как строчный элемент */
        /*margin-right: 5px; /* Отступ слева */
        margin-left: 20px;  /* Отступ справа */
        text-align: center;
    }

    .link-menu {   /* Пункты списка меню */
        color: var(--text-color); /* Цвет ссылок */
        text-decoration: none; /* убрать подчеркивание */
        font-size: 14px;
        transition: color 0.3s ease 0s;
        font-weight: 500;
    }

    .link-menu:hover {
        color: var(--link-active-color);
    }

    .link-menu:active {
        color: var(--link-active-color);
    }

    .article-heading-link {
        text-decoration: none;
        color: var(--text-color);
        font-size: 24px;
    }

    .article-heading-link:hover {
        color: var(--link-active-color);
        text-decoration: none;
    }

    .button1 {
        background: rgba(72, 181, 255, 0.2);
        border-radius: 5px;
        color: var(--text-color);
        padding: 8px 12px;
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        cursor: pointer;
    }

    .button2 {
        background: var(--main-bg-color);
        border-radius: 5px;
        border-style:solid;
        border-width: 1px;
        border-color: var(--secondary-color);
        color: var(--link-hover-color);
        padding: 8px 20px;
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        cursor: pointer;
    }

    .button1:hover {
	    background: rgba(72, 181, 255, 0.6);
	    color: var(--main-bg-color);
	}

    .button2:hover {
	    background: rgba(72, 181, 255, 0.2);
	    color: var(--header-bg-color);
	    border-color: rgba(72, 181, 255, 0.2);
	}

	.section-title {
	    background: var(--section-bg-color);
	    display: flex;
	    height: 90px;
	    align-items: center;
	    padding-left: 20px;
	}

	ul.section-menu {
	    background: var(--section-bg-color);
	    display: flex;
        height: 60px;
        align-items: center;
	}

	ul.section-menu li {   /* Пункты списка меню */
        font-family: Roboto, Verdana, sans-serif;
        display: inline; /* Отображать как строчный элемент */
        /*margin-right: 20px; Отступ слева */
        margin-left: 20px;  /* Отступ справа */
        text-align: center;
    }

	.section-indent {
	    background: var(--main-bg-color);
	    height: 40px;
	}

    .content-container {
        display: flex;
	    justify-content: space-between;
	    flex-wrap: nowrap;
	    margin: 0;
	    padding: 0;
	    flex-direction: row;
    }

	.section-left {
        width: 753px;
        background: var(--main-bg-color); /* цвет фона */
	}

	.section-right {
        width: 367px;
	}

	.section-right-block {
        width: 367px;
        background: var(--section-bg-color); /* цвет фона правой секции контента*/
        height: 520 px;
	}

	.chapter {
	    display: flex;
	    height: 30px;
	    align-items: center;
	}

	h2 {
	    font-family: Roboto, Verdana, sans-serif;
	    font-weight: 400;
	    color: var(--primary-color);
	}

	h2-2{
	    color: var(--text-color);
	}

	h3 {
	    font-family: Roboto, Verdana, sans-serif;
	    font-weight: 400;
	    color: var(--text-color);
	}


	h5-1 {
	    font-family: Roboto, Verdana, sans-serif;
	    font-size: 14px;
	    font-weight: 500;
	    margin-left: 10px;
	    color: var(--text-color);
	    text-indent: 25px;
	}
	h5 {
	    font-family: Roboto, Verdana, sans-serif;
	    font-size: 14px;
	    font-weight: 500;
	    color: var(--text-color);
	}

	h5-2 {
	    font-family: Roboto, Verdana, sans-serif;
	    font-size: 14px;
	    font-weight: 500;
	    margin-left: 10px;
	    color: var(--secondary-color);
	    padding-right: 35px;
	}

	h6-1 {
	    font-family: Roboto, Verdana, sans-serif;
	    font-size: 12px;
	    font-weight: 500;
	    margin-left: 10px;
	    color: var(--text-color);
	}

	h6-2 {
	    font-family: Roboto, Verdana, sans-serif;
	    font-size: 12px;
	    font-weight: 500;
	    margin-left: 10px;
	    color: var(--text-color);
	    opacity: var(--text-opacity);
	}

	h6-3 {
	    font-family: Roboto, Verdana, sans-serif;
	    font-size: 12px;
	    font-weight: 500;
	    color: var(--text-color);
	    opacity: var(--text-opacity);
	}

	ul.author-data {
        display: flex;
        height: 40px;
        align-items: center;
    }

    ul.author-data li {   /* Пункты списка меню */
        font-family: Roboto, Verdana, sans-serif;
        display: inline; /* Отображать как строчный элемент */
        text-align: center;
    }

    .open-text {
        height: 50px;
        display:flex;
        align-items: center;
    }

    ul.like-comment {
        height: 30px;
        display: flex;
        align-items: center;
    }

    ul.like-comment li {   /* Пункты списка меню */
        font-family: Roboto, Verdana, sans-serif;
        display: inline; /* Отображать как строчный элемент */
        margin-right: 0px;
        text-align: center;
    }

    .footer-container {
        width: 1140px;
        margin: 0 auto
    }

    .footer {
        background: var(--footer-bg-color);
        height: 60px;
    }


    /*Шаблоны регистрации, входа и geekhub-message*/
    .upper-margin {
        height: 290px;
    }

    .container-register {
        display: flex;
        flex-flow: row-wrap;
        justify-content: space-between;
    }
    .card {
        height: 420px;
        margin: 0 0 20px;
        width: 100%;
        border: none;
    }
    .cart-bg {
        background: var(--section-bg-color);
        border-radius: 5px;
    }

    .indent-60 {
        height: 60px;
        display: flex;
        align-items: center;
    }
    .indent-50 {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .indent-40 {
        height: 40px;
        display: flex;
        align-items: center;
    }
    .indent-35 {
        height: 35px;
        display: flex;
        align-items: center;
    }
    .indent-30 {
        height: 30px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .indent-15 {
        height: 15px;
        display: flex;
        align-items: center;
    }
    .indent-10 {
        height: 10px;
        display: flex;
        align-items: center;
    }
    .input-text {
        display: flex;
        width: 80%;
        height: 30px;
        align-items: center;
        background: var(--main-bg-color);
        border-radius: 5px;
        color: var(--text-color);
	    justify-content: space-between;
	    flex-wrap: nowrap;
	    margin: 0 auto;
	    flex-direction: row;
    }

    .placeholder{
        border: none;
        margin-left: 20px;
    }

    .button3 {
        transition: color 0.3s ease 0s;
        font-weight: 500;
        background: rgba(72, 181, 255, 0.2);
        border-radius: 5px;
        color: var(--text-color);
        padding: 8px 12px;
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        cursor: pointer;
        border: none;
        font-family: Roboto, Verdana, sans-serif;
    }

    .button3:hover {
	    background: rgba(72, 181, 255, 0.6);
	    color: var(--main-bg-color);
	}

	input.editor-placeholder[type="text"] {
	    color: var(--text-color);
        outline: none;
        font-size: 14px;
        font-family: Roboto, Verdana, sans-serif;
        font-weight: 500;
        width: 850px;
	}

	input[type="password"] {
	    color: var(--text-color);
        outline: none;
        font-size: 14px;
        font-family: Roboto, Verdana, sans-serif;
        font-weight: 500;
	}

    input-text-left{
        display: flex;
        align-items: center;
    }

    input-text-right {
        display: flex;
        align-items: center;
    }

    /*Шаблон входа*/

    .container-login {
        display: flex;
        flex-flow: row-wrap;
        justify-content: space-between;
    }
    .button4 {
        transition: color 0.3s ease 0s;
        font-weight: 500;
        background: rgba(72, 181, 255, 0.2);
        border-radius: 5px;
        color: var(--text-color);
        padding: 8px 12px;
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        cursor: pointer;
        border: none;
        font-family: Roboto, Verdana, sans-serif;
    }

    .button4:hover {
	    background: rgba(72, 181, 255, 0.6);
	    color: var(--main-bg-color);
	}

        /*Шаблон geekhub-message*/
    .indent-20 {
        min-height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .message {
        background: var(--section-bg-color);
        height: auto;
        width: 75%;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        border-radius: 5px;
    }
    .button5 {
        transition: color 0.3s ease 0s;
        font-weight: 500;
        background: rgba(72, 181, 255, 0.2);
        border-radius: 5px;
        color: var(--text-color);
        padding: 8px 23px;
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        cursor: pointer;
        border: none;
        font-family: Roboto, Verdana, sans-serif;
    }

    .button5:hover {
	    background: rgba(72, 181, 255, 0.6);
	    color: var(--main-bg-color);
	}
	.message-text {
		font-family: Roboto, Verdana, sans-serif;
	    font-size: 14px;
	    font-weight: 500;
	    color: var(--text-color);
	    text-indent: 25px;
	}

	 /*Шаблон confirmation_registration*/

    .message-success {
        background: var(--section-success-color);
        height: auto;
        width: 75%;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        border-radius: 5px;
    }
    .button6 {
        transition: color 0.3s ease 0s;
        font-weight: 500;
        background: rgba(72, 181, 255, 0.2);
        border-radius: 5px;
        color: var(--text-color);
        padding: 8px 12px;
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        cursor: pointer;
        border: none;
        font-family: Roboto, Verdana, sans-serif;
    }

    .button6:hover {
	    background: rgba(72, 181, 255, 0.6);
	    color: var(--main-bg-color);
	}

    	 /*Шаблон registration_fail*/

    .message-fail {
        background: var(--section-fail-color);
        height: auto;
        width: 75%;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        border-radius: 5px;
    }
    .button7 {
        transition: color 0.3s ease 0s;
        font-weight: 500;
        background: rgba(72, 181, 255, 0.2);
        border-radius: 5px;
        color: var(--text-color);
        padding: 8px 12px;
        margin-right: 20px;
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        cursor: pointer;
        border: none;
        font-family: Roboto, Verdana, sans-serif;
    }

    .button7:hover {
	    background: rgba(72, 181, 255, 0.6);
	    color: var(--main-bg-color);
	}
    .button8 {
        transition: color 0.3s ease 0s;
        font-weight: 500;
        background: rgba(72, 181, 255, 0.2);
        border-radius: 5px;
        color: var(--text-color);
        padding: 8px 12px;
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        cursor: pointer;
        border: none;
        font-family: Roboto, Verdana, sans-serif;
    }

    .button8:hover {
	    background: rgba(72, 181, 255, 0.6);
	    color: var(--main-bg-color);
	}

	.active-menu-link {
        color: var(--primary-color);
    }

    /*Профиль - О себе*/

    s-1 { /*цвет и стиль верхнего индекса в списке section-menu, Черновики, Модерация*/
        font-family: Roboto, Verdana, sans-serif;
        color: var(--text-sup-color1);
        font-weight: 700;
    }

    s-2 { /*цвет и стиль верхнего индекса в списке section-menu, Мои статьи*/
        font-family: Roboto, Verdana, sans-serif;
        color: var(--text-sup-color2);
        font-weight: 700;
    }

    s-3 { /*цвет и стиль верхнего индекса в списке section-menu, Корзина*/
        font-family: Roboto, Verdana, sans-serif;
        color: var(--text-sup-color3);
        font-weight: 700;
    }

    .section-part {
        display: flex;
	    justify-content: space-between;
	    flex-wrap: nowrap;
	    margin: 0;
	    padding: 0;
	    flex-direction: row;
    }

	.section-left-part {
        width: 463px;
        height: 580px;
        background: var(--section-bg-color); /* цвет фона */
        border-radius: 5px;
	}

	.section-right-part {
        width: 270px;
        height: 580px;
	}

	.block-foto {
	    width: 270px;
        height: 270px;
	}

	.block-foto-button {
		width: 270px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
	}

	.block-settings {
	    width: 270px;
        height: 260px;
        background: var(--section-bg-color); /* цвет фона */
        border-radius: 5px;
	}
    .button9 {
        transition: color 0.3s ease 0s;
        font-weight: 500;
        background: rgba(72, 181, 255, 0.2);
        border-radius: 5px;
        color: var(--text-color);
        padding: 8px 12px;
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        cursor: pointer;
        border: none;
        font-family: Roboto, Verdana, sans-serif;
    }

    .button9:hover {
	    background: rgba(72, 181, 255, 0.6);
	    color: var(--main-bg-color);
	}

    .button10 {
        transition: color 0.3s ease 0s;
        font-weight: 500;
        background: rgba(255, 216, 216, 1);
        border-radius: 5px;
        color: var(--text-color);
        padding: 8px 12px;
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        cursor: pointer;
        border: none;
        font-family: Roboto, Verdana, sans-serif;
        margin-right: 20px;
    }

    .button10:hover {
	    background: rgba(255, 160, 160, 1);
	    color: var(--main-bg-color);
	}

    .button11 {
        transition: color 0.3s ease 0s;
        font-weight: 500;
        background: rgba(72, 181, 255, 0.2);
        border-radius: 5px;
        color: var(--text-color);
        padding: 8px 12px;
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        cursor: pointer;
        border: none;
        font-family: Roboto, Verdana, sans-serif;
    }

    .button11:hover {
	    background: rgba(72, 181, 255, 0.6);
	    color: var(--main-bg-color);
	}

	.field-50 {
	    height: 50px;
        display: flex;
	}

	.field-110 {
	    height: 110px;
        display: flex;
	    align-items: center;
	}

	.field-text-left{
	    width: 300px;
        height: 30px;
        display: flex;
        justify-content: left;
        background: var(--section-bg-color);
        align-items: center;
	}

    .block-text {
        width: 97px;
        height: 50px;
        display: flex;
        align-items: center;
    }

    .block-info {
        width: 366px;
        height: 50px;
        align-items: center;
        display: flex;
    }

	h5-3 {
	    font-family: Roboto, Verdana, sans-serif;
	    font-size: 14px;
	    font-weight: 500;
	    color: var(--text-color);
	    margin-left: 20px;
	}

	.input-text-right_bg {
	    display: flex;
        align-items: center;
        background: var(--section-bg-color);
	}

	.input-textarea {
        display: flex;
        width: 80%;
        height: 90px;
        align-items: center;
        background: var(--main-bg-color);
        border-radius: 5px;
        color: var(--text-color);
	    justify-content: space-between;
	    flex-wrap: nowrap;
	    margin: 0 auto;
	    flex-direction: row;
    }

	textarea {
	    color: var(--text-color);
        outline: none;
        font-size: 14px;
        font-family: Roboto, Verdana, sans-serif;
        font-weight: 500;
        width: 245px;
        height: 87px;
        border: none;
        resize: none;
        maxlength="100";
	}

	.select-1 {
		color: var(--text-color);
        outline: none;
        font-size: 14px;
        font-family: Roboto, Verdana, sans-serif;
        font-weight: 500;
        width: 245px;
        border: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin-left: 20px;
	}

	.select-2 {
		color: var(--text-color);
        outline: none;
        font-size: 14px;
        font-family: Roboto, Verdana, sans-serif;
        font-weight: 500;
        width: 100px;
        border: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin-left: 20px;
	}

	input[type="date"] {
	    color: var(--text-color);
        outline: none;
        font-size: 14px;
        font-family: Roboto, Verdana, sans-serif;
        font-weight: 500;
        width:220px;
        border: none;
        margin-left: 20px;
	}

	    /*Профиль - О себе - удалить профиль*/

    .button12 {
        transition: color 0.3s ease 0s;
        font-weight: 500;
        background: rgba(255, 190, 190, 1);
        border-radius: 5px;
        color: var(--text-color);
        padding: 8px 12px;
        margin-right: 20px;
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        cursor: pointer;
        border: none;
        font-family: Roboto, Verdana, sans-serif;
    }

    .button12:hover {
	    background: rgba(255, 160, 160, 1);
	    color: var(--main-bg-color);
	}
    .button13 {
        transition: color 0.3s ease 0s;
        font-weight: 500;
        background: rgba(72, 181, 255, 0.2);
        border-radius: 5px;
        color: var(--text-color);
        padding: 8px 12px;
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        cursor: pointer;
        border: none;
        font-family: Roboto, Verdana, sans-serif;
    }

    .button13:hover {
	    background: rgba(72, 181, 255, 0.6);
	    color: var(--main-bg-color);
	}

	    /*Профиль - Редактор статей*/

    .indent-30-2 {
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button14 {
        transition: color 0.3s ease 0s;
        background: var(--main-bg-color);
        border-radius: 5px;
        border-style:solid;
        border-width: 1px;
        border-color: var(--secondary-color);
        color: var(--link-hover-color);
        padding: 8px 8px;
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        cursor: pointer;
        margin-left: 20px;
        margin-right: 10px;
    }

    .button14:hover {
	    background: rgba(72, 181, 255, 0.2);
	    color: var(--header-bg-color);
	    border-color: rgba(72, 181, 255, 0.2);
	}

    .button15 {
        transition: color 0.3s ease 0s;
        background: var(--main-bg-color);
        border-radius: 5px;
        border-style:solid;
        border-width: 1px;
        border-color: var(--secondary-color);
        color: var(--link-hover-color);
        padding: 8px 8px;
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        cursor: pointer;
        margin-left: 12px;
        margin-right: 18px;
    }

    .button15:hover {
	    background: rgba(72, 181, 255, 0.2);
	    color: var(--header-bg-color);
	    border-color: rgba(72, 181, 255, 0.2);
	}

    .button16 {
        transition: color 0.3s ease 0s;
        background: var(--main-bg-color);
        border-radius: 5px;
        border-style:solid;
        border-width: 1px;
        border-color: var(--secondary-color);
        color: var(--link-hover-color);
        padding: 8px 8px;
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        cursor: pointer;
        margin-right: 10px;
    }

    .button16:hover {
	    background: rgba(152, 240, 149, 0.6);
	    color: var(--header-bg-color);
	    border-color: rgba(72, 181, 255, 0.2);
	}

    .button17 {
        transition: color 0.3s ease 0s;
        background: var(--main-bg-color);
        border-radius: 5px;
        border-style:solid;
        border-width: 1px;
        border-color: var(--secondary-color);
        color: var(--link-hover-color);
        padding: 8px 8px;
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        cursor: pointer;
        margin-right: 10px;
    }

    .button17:hover {
	    background: rgba(255, 230, 230, 1);
	    color: var(--header-bg-color);
	    border-color: rgba(72, 181, 255, 0.2);
	}

    .button18 {
        transition: color 0.3s ease 0s;
        background: var(--main-bg-color);
        border-radius: 5px;
        border-style:solid;
        border-width: 1px;
        border-color: var(--secondary-color);
        color: var(--link-hover-color);
        padding: 8px 8px;
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        cursor: pointer;
        margin-left: 20px;
        margin-right: 10px;
    }

    .button18:hover {
	    background: rgba(72, 181, 255, 0.2);
	    color: var(--header-bg-color);
	    border-color: rgba(72, 181, 255, 0.2);
	}

    .button19 {
        transition: color 0.3s ease 0s;
        background: var(--main-bg-color);
        border-radius: 5px;
        border-style:solid;
        border-width: 1px;
        border-color: var(--secondary-color);
        color: var(--link-hover-color);
        padding: 8px 8px;
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        cursor: pointer;
        margin-right: 10px;
        margin-left: 20px;
    }

    .button19:hover {
	    background: rgba(255, 230, 230, 1);
	    color: var(--header-bg-color);
	    border-color: rgba(72, 181, 255, 0.2);
	}

    .button20 {
        transition: color 0.3s ease 0s;
        background: var(--main-bg-color);
        border-radius: 5px;
        border-style:solid;
        border-width: 1px;
        border-color: var(--secondary-color);
        color: var(--link-hover-color);
        padding: 8px 8px;
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        cursor: pointer;
        margin-left: 20px;
        margin-right: 10px;
    }

    .button20:hover {
	    background: rgba(72, 181, 255, 0.2);
	    color: var(--header-bg-color);
	    border-color: rgba(72, 181, 255, 0.2);
	}

    /*Для страницы index_view_article.html*/

	.my-text {
        justify-content: center;
	    border-color: rgba(72, 181, 255, 0.2);
	    border-radius: 5px;
	    border-width: 3px;
        border-style:solid;
        background: var(--section-bg-color);
	}

	.editor-field {
	    height: 170px;
	    background: var(--main-bg-color);
	}

    .button21 {
        transition: color 0.3s ease 0s;
        background: var(--main-bg-color);
        border-radius: 5px;
        border-style:solid;
        border-width: 1px;
        border-color: var(--secondary-color);
        color: var(--link-hover-color);
        padding: 8px 8px;
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        cursor: pointer;
        margin-left: 20px;
        margin-right: 10px;
    }

    .button21:hover {
	    background: rgba(72, 181, 255, 0.2);
	    color: var(--header-bg-color);
	    border-color: rgba(72, 181, 255, 0.2);
	}

    .button22 {
        transition: color 0.3s ease 0s;
        background: var(--main-bg-color);
        border-radius: 5px;
        border-style:solid;
        border-width: 1px;
        border-color: var(--secondary-color);
        color: var(--link-hover-color);
        padding: 8px 8px;
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        cursor: pointer;
        margin-right: 10px;
    }

    .button22:hover {
	    background: rgba(152, 240, 149, 0.6);
	    color: var(--header-bg-color);
	    border-color: rgba(72, 181, 255, 0.2);
	}
	.container-editor {
	    width: 1140px;
	}

	.indent-50-2 {
        height: 50px;
        display: flex;
        align-items: center;
        background-color: var(--section-bg-color);
    }

    .editor-block-text {
        width: 150px;
        height: 50px;
        display: flex;
        align-items: center;
        background-color: var(--section-bg-color);
    }

    .editor-input-text {
        display: flex;
        width: 900px;
        height: 30px;
        align-items: center;
        background: var(--main-bg-color);
        border-radius: 5px;
        color: var(--text-color);
	    justify-content: space-between;
	    flex-wrap: nowrap;
	    margin-left: 58px;
	    flex-direction: row;
    }

    .editor-select-text {
        display: flex;
        width: 210px;
        height: 30px;
        align-items: center;
        background: var(--main-bg-color);
        border-radius: 5px;
        color: var(--text-color);
	    justify-content: space-between;
	    flex-wrap: nowrap;
	    margin-left: 58px;
	    flex-direction: row;
    }

    .editor-block-info {
        width: 1000px;
        height: 50px;
        align-items: center;
        display: flex;
        background-color: var(--section-bg-color);
    }

    /*Для страницы article_editor.html*/

    .select-3 {
		color: var(--text-color);
        outline: none;
        font-size: 14px;
        font-family: Roboto, Verdana, sans-serif;
        font-weight: 500;
        width: 180px;
        border: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin-left: 8px;
	}

	input.placeholder[type="text"] {
	    color: var(--text-color);
        outline: none;
        font-size: 14px;
        font-family: Roboto, Verdana, sans-serif;
        font-weight: 500;
        width: 240px;
	}

	.editor-placeholder{
        border: none;
        margin-left: 8px;
    }

    .block-editor-body {
        height: 500px;
    }