<div class="section-title">
    <h2>Профиль</h2>
</div>

<div class="section-menu">
    <ul class="section-menu"> <!-- Прижат к левому краю блока-->
        <li><a class="link-menu" href="{% url 'usersapp:modify' user.pk %}">О себе</a></li>
        <li><a class="link-menu" href="{% url 'mainapp:create_article' %}">Редактор статей</a></li>
        <li><a class="link-menu" href="{% url 'mainapp:drafts' %}">Черновики</a><sup><s-1>{{ user_drafts_count }}</s-1></sup></li>
        {#        <li><a class="link-menu" href="{% url 'mainapp:user_moderation_articles' %}">Модерация</a></li>#}
        <li><a class="link-menu" href="{% url 'mainapp:user_articles' %}">Мои статьи</a><sup><s-2>{{ user_articles_published_count }}</s-2></sup>
{#        <li><a class="link-menu" href="{% url 'mainapp:' %}">Корзина</a></a><sup><s-2>22</s-2></sup>#}
        </li>
    </ul>
</div>
