* {
    padding: 0px;
    /* margin-top: 70px; */
}

body {
    width: 100%;
}

:root {
    --main-bg-color: #FFFFFF;
    --section-bg-color: #E9E9E9;
    --footer-bg-color: #C8C8C8;
    --primary-color: #48B5FF; /*Ñ†Ð²ÐµÑ‚ ÑÐ¸Ð½Ð¸Ñ… ÑÐ»ÐµÐ¼ÐµÐ½Ñ‚Ð¾Ð²*/
    --secondary-color: #5085A9; /*Ñ†Ð²ÐµÑ‚ "Ð§Ð¸Ñ‚Ð°Ñ‚ÑŒ Ð´Ð°Ð»ÐµÐµ"*/
    --header-bg-color: #282424;
    --text-color: #000000;
    --text-secondary-color: black;
    --text-secondary-opacity: 0, 6;
    --primary-opacity: 0.3; /*Ñ†Ð²ÐµÑ‚ ÐºÐ½Ð¾Ð¿ÐºÐ¸ "Ñ€ÐµÐ³Ð¸ÑÑ‚Ñ€Ð°Ñ†Ð¸Ñ"*/
    --secondary-opacity: 0.3; /*Ñ†Ð²ÐµÑ‚ Ñ€Ð°Ð¼ÐºÐ¸ "Ð§Ð¸Ñ‚Ð°Ñ‚ÑŒ Ð´Ð°Ð»ÐµÐµ"*/
    --header-opacity: 0.7; /*Ñ„Ð¾Ð½ header"*/
    --text-opacity: 0.6;
    --link-hover-color: #5085A9;
    --link-active-color: #48B5FF;
    --da--link-active-colornger-color: red;
    --warning-color: yellow;
    --success-color: green;
}

.wrapper-login, .container-login, .form-horizontal {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* box-sizing: border-box; */
}

.container-register {

    border: none;
    margin: 290px auto;
    width: 366px;
    height: 420px;
    background: #E9E9E9;
    border-radius: 5px;
}

.form-horizontal {
    align-self: flex-start;
    justify-content: center;
    box-sizing: border-box;

}


.text-mail {
    border: none;
    justify-content: flex-start;
    margin-top: 70px;
    width: 300px;
    height: 30px;
    background: #FFFFFF;
    border-radius: 5px;

}

.text-password {
    border: none;
    margin-top: 30px;
    width: 300px;
    height: 30px;
    background: #FFFFFF;
    border-radius: 5px;

}

.text-password2 {
    border: none;
    margin-top: 10px;
    width: 300px;
    height: 30px;
    background: #FFFFFF;
    border-radius: 5px;

}


.text-login-placeholder {
    outline: none;
    /*box-sizing: border-box;*/
    display: flex;
    width: 280px;
    margin-left: 12px;
    margin-top: 7px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    border: none;
    outline: none;

    color: rgba(0, 0, 0, 0.4);
}

.vector-img {
    align-self: flex-end;
    margin-top: 3px;
    width: 11px;
    height: 11px;
    border: #081141 solid 1px;
}


.form-control1 {
    border: none;
    margin-top: 40px;
    width: 156px;
    height: 30px;
    border-radius: 5px;
    background: rgba(72, 181, 255, 0.3)

}

.text-alternative1 {
    margin: 8px 83px;
    height: 14px;
    width: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    display: inline-block;
    /*border: solid 1px aqua;*/


    color: #000000;
}

input {
    background-image: url("../../static/svg/vector.svg");
    background-repeat: no-repeat; /*Убираем повтор изображения*/
    background-position: 240px; /*Позиционируем*/
    outline: none; /*убираем стандартную обводку браузера*/
    -moz-border-radius: 5px; /*закругляем углы для Mozilla*/
    -webkit-border-radius: 5px; /*закругляем углы для Chrome, Safari*/
    /*border-radius: 5px; !*закругляем углы для остальных браузеров*!*/
    /*padding-left: 20px; !*отступ слева от ввода, чтобы текст не был на картинке(выбирать по размеру картинки)*!*/
    /*height: 20px; !*высота строки ввода*!*/
    /*font-size: 13px; !*размер шрифта*!*/
}