{% extends 'base.html' %}
{% load static %}

{% block bootstrap_css %}
    <link href="{% static 'plugins/css/bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
{% endblock %}

{% block css %}
    <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
    <link href="{% static 'plugins/css/resizable.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
    <link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
{% endblock %}

{% block title %}
    {{ title }} :: {{ block.super }}
{% endblock %}

{% block content %}
    <form class="create-article-form" action="{% url 'mainapp:create_article' %}" method="post">
        {% csrf_token %}

        {% for field in form %}
            {% if field.name == 'contents' %}
                <div class="form-group">
                    {{ field }}
                </div>
            {% else %}
                {{ field.label_tag }}
                <div>
                    {{ field }}
                </div>
            {% endif %}

        {% endfor %}

        <button type="submit">Опубликовать</button>
        <button type="button" class="save-as-draft-button">Сохранить как черновик</button>

    </form>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "js/mainapp/create-article-js.js" %}" defer></script>

    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>

    <script type="text/javascript" src="{% static 'plugins/js/ace.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/mode-markdown.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/ext-language_tools.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/theme-github.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/typo.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/spellcheck.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/resizable.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/emojis.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'martor/js/martor.bootstrap.min.js' %}"></script>
    <script>
        $('.martor-preview pre').each(function (i, block) {
            hljs.highlightBlock(block);
        });
    </script>
{% endblock %}