{% extends 'base.html' %}
{% load static %}

{% block menu %}
{% endblock %}

{% block content %}

    <div class="container">
        <div class="upper-margin"></div>
        <div class="message-fail">
            <div class="indent-10"></div>
            <div class="indent-20">
                <h5>Внимание!</h5>
            </div>
            <div class="indent-20">
                <h4>Вы действительно хотите отправить статью в черновики?</h4>
            </div>
            <div class="indent-50">
                <form method="post">
                    {% csrf_token %}

                    {# TODO блок ввода текста с причиной снятия с публикации #}
                    {% if article.author != user and user.is_staff %}
                        <div class="indent-20">
                            <h5>Причина снятия статьи с публикации:</h5>
                        </div>

                        <div class="block-complaint-discard-text">
                            <div class="input-textarea">
                                <textarea name="reason_article_reject" id="reason_article_reject_id" cols="100" rows="5"
                                          class="article-complaint-input"></textarea>
                            </div>
                        </div>
                        <div class="indent-10"></div>
                    {% endif %}

                    <a>
                        <button class="button12" type="submit">Да, В черновики</button>
                    </a>
                </form>
                <button class="button13" type="button" onclick="window.history.back()">Нет, отмена</button>
            </div>
        </div>
        <div class="indent-20"></div>
    </div>

{% endblock %}

{% block footer %}
{% endblock %}