{% extends 'base.html' %}
{% load static %}

{% block content %}

        <div class="container">
            <div class="upper-margin"></div>
            <div class="message-fail">
                <div class="indent-10"></div>
                <div class="indent-20">
                    <h5>Внимание!</h5>
                </div>
                <div class="indent-20">
                    <h4>Вы действительно хотите удалить свою статью?</h4>
                </div>
                <div class="indent-50">
                    <form action="{% url 'mainapp:user_article_delete' object.pk %}"  method="post">
                        {% csrf_token %}
                        <a><button class="button12" type="submit">Да, удалить</button></a>
                    </form>
                    <a href="{% url 'mainapp:drafts' %}"><button class="button13" type="submit">Нет, отмена</button></a>
                </div>
            </div>
        </div>

{% endblock %}