{% extends 'base.html' %}
{% load static %}
{% load martortags %}
{% load ratings %}
{% load comments %}

{% block title %}
    {{ title }} :: {{ block.super }}
{% endblock %}

{% block css %}
    <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
    <link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
{% endblock %}

{% block content %}

    <div class="content-container">
        <div class="section-left">

            <div class="modal fade" id="modal-articles">
                <div class="modal-dialog">
                    <div class="modal-content"></div>
                </div>
            </div>

            <div class="section-indent"></div>
            <div class="author-data">
                <ul class="author-data">
                    <li>
                        {% if article.author.profile_photo|length == 0 %}
                            <a href="{% url 'mainapp:user_detail' article.author.pk %}"><img
                                    src="{% static 'svg/block_foto.svg' %}" alt={{ article.author.id }}></a>
                        {% else %}
                            <a href="{% url 'mainapp:user_detail' article.author.pk %}"><img
                                    src=/media/{{ article.author.profile_photo }} alt={{ article.author.id }}></a>
                        {% endif %}
                    </li>
                    <li>
                        <a href="{% url 'mainapp:user_detail' article.author.pk %}"
                           class="author-name">{{ article.author.username }}</a>
                    </li>
                    <li>
                        <h6-2>{{ article.publication_date }}</h6-2>
                    </li>
                </ul>
            </div>

            <div class="section-left-title">
                <h2>
                    <h2-2>{{ article.title }}</h2-2>
                </h2>
            </div>

            <div class="chapter">
                <h6-3>{{ article.hub.name }}</h6-3>
            </div>

            <div class="sound_article">
                <audio class="sound_text"
                    controls
                    src="/media{{  article.sound.url }} " alt="Озвученный голосом текст">

                    <code>audio</code> element.
                </audio>


            </div>



            <div class="section-left-text">
                {% if article.editor == 'CK' %}
                    <div class="ck-preview">
                        {{ article.contents_ck|safe }}
                    </div>
                {% elif article.editor == 'MD' %}
                    <div class="martor-preview">
                        {{ article.contents_md|safe_markdown }}
                    </div>
                {% endif %}

                {% if not article.is_draft %}
                    <div class="like-comment">
                        <ul class="lvc-field">
                            {% if article.is_published %}
                                <li>
                                    <div class="lvc-group">

                                        <ul class="lvc-group">
                                            <li data-id="{{ article.id }}" data-type="article" data-action="like"
                                                title="Нравится" class="like-article">
                                                <img src="{% static 'svg/up4+.svg' %}" alt="like">
                                            </li>
                                            <h5-2-lvc-plus data-count="positive" class="positive">
                                                {% if article.rating.like.count %}
                                                    {{ article.rating.like.count }}
                                                {% else %}
                                                    {{ article.id|rating_positive }}
                                                {% endif %}
                                            </h5-2-lvc-plus>
                                            <li data-id="{{ article.id }}" data-type="article" data-action="dislike"
                                                title="Не нравится" class="dislike-article">
                                                <img src="{% static 'svg/down4+.svg' %}" alt="like">
                                            </li>
                                            <h5-2-lvc-minus data-count="negative" class="negative">
                                                {% if article.rating.dislikes.count %}
                                                    {{ article.rating.dislikes.count }}
                                                {% else %}
                                                    {{ article.id|rating_negative }}
                                                {% endif %}
                                            </h5-2-lvc-minus>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="lvc-group">
                                        <ul class="lvc-group">
                                            <li><img src="{% static 'svg/carbon_view-filled_active.svg' %}"
                                                     alt="view"></li>
                                            <li>
                                                <h5-2-lvc>{{ article.get_views_count }}</h5-2-lvc>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            {% endif %}
                            <li>
                                <div class="lvc-group">
                                    <ul class="lvc-group">
                                        <li title="Комментировать">
                                            <svg class="icon-comment">
                                                <use xlink:href="#fluent_comment-24-filled_active"></use>
                                            </svg>
                                        </li>
                                        <li>
                                            <h5-2-lvc
                                                    class="comments-counter">{{ article.pk|get_comments_count }}
                                            </h5-2-lvc>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="lvc-group">
                                    <ul class="lvc-group">
                                        <li title="Подать жалобу">
                                            <span class="show-complaint-button">
                                                <svg class="icon-bad">
                                                    <use xlink:href="#bad"></use>
                                                </svg>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>

                        <div class="complaint-container hidden">
                            <div class="field-50"></div>
                            <div class="field-50">
                                <h2>
                                    <h2-2>Написать жалобу</h2-2>
                                </h2>
                            </div>
                            <div class="indent-10"></div>
                            <div class="my-comment">
                                <div class="my-text">
                                    <div class="editor-field">
                                            <textarea name="article-complaint"
                                                      class="editor-field article-complaint-input"></textarea>
                                        <div class="button-field">
                                            <button type="button" class="button23 submit-complaint-button"
                                                    data-article-id="{{ article.pk }}">
                                                Пожаловаться
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="indent-60"></div>
                            </div>
                        </div>

                        <div class="comments-tree-block " data-article-id="{{ article.pk }}">
                            <div class="block-comment">
                                <div class="indent-60"></div>
                                <div class="field-50">
                                    <h2>
                                        <h2-2 id="comments-start-point">Комментарии</h2-2>
                                    </h2>
                                </div>
                            </div>

                            <div class="comments-tree-root">
                                <div class="comments-tree">
                                    {% for comment in comments_preview %}
                                        <div class="author-comment">
                                            <div class="author-data">
                                                <ul class="author-data">
                                                    <li>
                                                        {% if comment.author.profile_photo|length == 0 %}
                                                            <a href="{% url 'mainapp:user_detail' comment.author.pk %}"><img
                                                                    src="{% static 'svg/block_foto.svg' %}"
                                                                    alt={{ article.author.id }}></a>
                                                        {% else %}
                                                            <a href="{% url 'mainapp:user_detail' comment.author.pk %}"><img
                                                                    src=/media/{{ comment.author.profile_photo }} alt={{ article.author.id }}></a>
                                                        {% endif %}
                                                    </li>
                                                    <li>
                                                        <a href="{% url 'mainapp:user_detail' comment.author.pk %}"
                                                           class="author-name">{{ comment.author.username }}</a>
                                                    </li>
                                                    <!--                                                    <li>-->
                                                    <!--                                                        <h6-1>{{ comment.author.username }}</h6-1>-->
                                                    <!--                                                    </li>-->
                                                    <li>
                                                        <h6-2>{{ comment.created_at }}</h6-2>
                                                    </li>
                                                </ul>
                                            </div>
                                            {% if comment.parent_comment %}
                                                <div class="parent-comment-preview">
                                                    <span>Ответ на: </span>
                                                    {{ comment.parent_comment.description|truncatechars:100 }}
                                                </div>
                                            {% endif %}
                                            <div class="author-text">
                                                <h5>
                                                    <h5-1><p>{{ comment.description }}</p></h5-1>
                                                </h5>
                                            </div>
                                            <div>

                                                {% if article.is_published %}
                                                    <ul class="lvc-group">
                                                        <li data-id="{{ comment.id }}" data-type="comment"
                                                            data-action="like"
                                                            title="Нравится" class="like-comment-btn">
                                                            <img src="{% static 'svg/up4+.svg' %}" alt="like">
                                                        </li>
                                                        <h5-2-lvc data-count="positiveComment"
                                                                  class="positiveComment">
                                                            {% if comment.rating.like.count %}
                                                                {{ comment.rating.like.count }}
                                                            {% else %}
                                                                {{ comment.id|rating_positive_c }}
                                                            {% endif %}
                                                        </h5-2-lvc>
                                                        <li data-id="{{ comment.id }}" data-type="comment"
                                                            data-action="dislike"
                                                            title="Не нравится" class="dislike-comment-btn">
                                                            <img src="{% static 'svg/down4+.svg' %}" alt="like">
                                                        </li>
                                                        <h5-2-lvc data-count="negativeComment"
                                                                  class="negativeComment">
                                                            {% if comment.rating.dislikes.count %}
                                                                {{ comment.rating.dislikes.count }}
                                                            {% else %}
                                                                {{ comment.id|rating_negative_c }}
                                                            {% endif %}
                                                        </h5-2-lvc>
                                                    </ul>
                                                {% endif %}

                                            </div>
                                            <button type="button" class="answer-button hidden"
                                                    data-answer-to="{{ comment.pk }}">Ответить
                                            </button>
                                            <div class="indent-60"></div>
                                        </div>
                                    {% endfor %}
                                    {% if all_comments_count > comments_preview.count %}
                                        <div class="show-all-comments-button">Показать все</div>
                                    {% endif %}
                                    <div class="indent-60"></div>
                                </div>
                            </div>

                            {% if user.is_authenticated %}
                                <div class="my-comment">
                                    <div class="field-50">
                                        <h2>
                                            <h2-2>Написать комментарий</h2-2>
                                        </h2>
                                    </div>
                                    <div class="field-parent-comment-small">
                                        <div class="parent-comment-small hidden">
                                            <div class="field-left">
                                                <p class="parent-comment-text"></p>
                                            </div>
                                            <div class="field-right">
                                                <span class="close-answer-button">
                                                    <svg class="icon-X">
                                                        <use xlink:href="#check-box2"></use>
                                                    </svg>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="indent-10"></div>
                                    </div>
                                    <div class="my-text">
                                        <div class="editor-field">
                                            <form class="comment-form">
                                                {% csrf_token %}
                                                <textarea name="comment"
                                                          class="editor-field comment-area"></textarea>
                                                <div class="button-field">
                                                    <button
                                                            class="button22 send-comment-button"
                                                            type="button"
                                                            data-article-id="{{ article.pk }}">
                                                        Отправить
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="indent-60"></div>
                                </div>
                            {% else %}
                                <p>Комментарии могут оставлять только зарегистрированные пользователи.</p>
                            {% endif %}
                        </div>
                    </div>

                    <div class="actions-block" style="margin-top: 20px">
                        {% if user.is_staff %}
                            {% if article.is_moderation_in_progress %}
                                {% include 'mainapp/_inc/moderator_actions/moderation_detail.html' %}
                            {% elif article.is_published %}
                                {% include 'mainapp/_inc/moderator_actions/publish_detail.html' %}
                            {% endif %}
                        {% elif not user.is_staff and not user.is_superuser and user == article.author %}
                            {% if article.is_moderation_in_progress %}
                                {% include 'mainapp/_inc/user_actions/moderation_detail.html' %}
                            {% elif article.is_published %}
                                {% include 'mainapp/_inc/user_actions/publish_detail.html' %}
                            {% endif %}
                        {% endif %}
                    </div>
                {% else %}
                    <div class="actions-block" style="margin-top: 20px">
                        {% if user == article.author %}
                            {% include 'mainapp/_inc/user_actions/draft_detail.html' %}
                        {% endif %}
                    </div>
                    <div class="indent-60"></div>
                    <div class="like-comment">
                        <ul class="lvc-field">
                            <li>
                                <div class="lvc-group">
                                    <ul class="lvc-group">
                                        <li>
                                            <svg class="icon-comment">
                                                <use xlink:href="#fluent_comment-24-filled_active"></use>
                                            </svg>
                                        </li>
                                        <li>
                                            <h5-2-lvc
                                                    class="comments-counter">{{ article.pk|get_comments_count }}
                                            </h5-2-lvc>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                        <div class="comments-tree-block " data-article-id="{{ article.pk }}">
                            <div class="block-comment">
                                <div class="field-50">
                                    <h2>
                                        <h2-2 id="comments-start-point">История модерации</h2-2>
                                    </h2>
                                </div>
                            </div>

                            <div class="comments-tree-root">
                                <div class="comments-tree">
                                    {% for comment in comments_preview %}
                                        <div class="author-comment">
                                            <div class="author-data">
                                                <ul class="author-data">
                                                    <li><img src="{% static 'svg/icon2.svg' %}"
                                                             alt="icon"></li>
                                                    <li>
                                                        <h6-1>{{ comment.author.username }}</h6-1>
                                                    </li>
                                                    <li>
                                                        <h6-2>{{ comment.created_at }}</h6-2>
                                                    </li>
                                                </ul>
                                            </div>
                                            {% if comment.parent_comment %}
                                                <div class="parent-comment-preview">
                                                    <span>Ответ на: </span>
                                                    {{ comment.parent_comment.description|truncatechars:100 }}
                                                </div>
                                            {% endif %}
                                            <div class="author-text">
                                                <h5>
                                                    <h5-1><p>{{ comment.description }}</p></h5-1>
                                                </h5>
                                            </div>
                                            <button type="button" class="answer-button hidden"
                                                    data-answer-to="{{ comment.pk }}">Ответить
                                            </button>
                                            <div class="indent-60"></div>
                                        </div>
                                    {% endfor %}
                                    {% if all_comments_count > comments_preview.count %}
                                        <div class="show-all-comments-button">Показать все</div>
                                    {% endif %}
                                    <div class="indent-60"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="section-right">
            {% block right_content %}
                {# TODO отображение причины снятия с публикации #}
                {% if article.reason_for_reject and not article.is_published %}
                    <div style="background-color: red">
                        Причина снятия с публикации: <br>
                        {{ article.reason_for_reject }}
                    </div>
                {% endif %}
            {% endblock %}
        </div>
    </div>
    <!-- Hidden SVG sprite -->
    <svg width="0" height="0" class="hidden">
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 26" id="up3">
            <path d="M16 9.5c0-.688-.563-1.25-1.25-1.25H8.275L9.1 4.275l.025-.288c0-.387-.162-.737-.412-1L7.725 2 1.55 8.175A1.88 1.88 0 001 9.5v8.125c0 1.038.837 1.875 1.875 1.875h8.438c.774 0 1.437-.475 1.724-1.137l2.825-6.613c.088-.213.138-.45.138-.688V9.5z"></path>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 26" id="down3">
            <path d="M14.125 8H5.687c-.775 0-1.437.475-1.725 1.137L1.137 15.75c-.087.213-.137.45-.137.688V18c0 .688.563 1.25 1.25 1.25h6.475L7.9 23.225l-.025.3c0 .388.162.738.412 1l.988.975 6.175-6.175A1.88 1.88 0 0016 18V9.875A1.872 1.872 0 0014.125 8z"></path>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 26" id="up2">
            <path d="M15 9.5c0-.596-.488-1.083-1.083-1.083H8.305l.715-3.445.022-.25c0-.335-.141-.639-.358-.866L7.828 3 2.477 8.352A1.63 1.63 0 002 9.5v7.042c0 .899.726 1.625 1.625 1.625h7.313c.671 0 1.245-.412 1.494-.986l2.449-5.731c.076-.184.119-.39.119-.596V9.5z"></path>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 26" id="down2">
            <path d="M13.375 8H6.062c-.671 0-1.245.412-1.495.986l-2.448 5.73a1.58 1.58 0 00-.119.597v1.354c0 .595.487 1.083 1.083 1.083h5.612l-.715 3.445-.022.26c0 .336.141.64.358.867l.856.845 5.351-5.352A1.63 1.63 0 0015 16.667V9.625C15 8.725 14.274 8 13.375 8z"></path>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="fluent_comment-24-filled_active">
            <path d="M4.375 15a2.708 2.708 0 01-2.708-2.708V5.208A2.708 2.708 0 014.375 2.5h11.25a2.708 2.708 0 012.708 2.708v7.084A2.709 2.709 0 0115.625 15h-4.82l-4.49 3.18A.833.833 0 015 17.503V15h-.625z"></path>
        </symbol>
        <!--Подать жалобу-->
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="bad">
            <path d="M12 2c-4.2 0-8 3.22-8 8.2 0 3.32 2.67 7.25 8 11.8 5.33-4.55 8-8.48 8-11.8C20 5.22 16.2 2 12 2zm0 17.33c-4.05-3.7-6-6.79-6-9.14C6 6.57 8.65 4 12 4s6 2.57 6 6.2c0 2.34-1.95 5.44-6 9.13z"></path>
            <path d="M11 6h2v5h-2V6zm0 7h2v2h-2v-2z"></path>
        </symbol>
    </svg>
{% endblock %}

{% block js %}
    <script type="module" src="{% static 'js/mainapp/comment-form.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/complaintsapp/article-user-complaint.js' %}"></script>
    <script>
        $('.martor-preview pre').each(function (i, block) {
            console.log(hljs)
            hljs.highlightBlock(block);
        });
    </script>
{% endblock %}
