{% extends 'base.html' %}
{% load static %}
{% load martortags %}
{% load ratings %}

{% block title %}
    {{ title }} :: {{ block.super }}
{% endblock %}

{% block content %}
    <div class="content-container">
        <div class="section-left">
            <div class="section-indent"></div>
            <div class="author-data">
                <ul class="author-data">
                    <li><img src="{% static 'svg/icon2.svg' %}" alt="icon"></li>
                    <li>
                        <h6-1>{{ article.author.username }}</h6-1>
                    </li>
                    <li>
                        <h6-2>{{ article.publication_date }}</h6-2>
                    </li>
                </ul>
            </div>

            <div class="section-left-title">
                <h2>
                    <h2-2>{{ article.title }}</h2-2>
                </h2>
            </div>

            <div class="chapter">
                <h6-3>{{ article.hub.name }}</h6-3>
            </div>

            <div class="section-left-text">
                <h5-1>
                    {{ article.contents|safe }}
                </h5-1>
            </div>

            {% if not article.is_draft %}
                <div class="like-comment">
                    <ul class="like-comment">
                        <li data-id="{{ article.id }}" data-type="article" data-action="like" title="Нравится">
                            <img src="{% static 'svg/like.svg' %}" height="20px" alt="like">
                            <h5-2 data-count="positive">
                                {% if article.rating.like.count %}
                                    {{ article.rating.like.count }}
                                {% else %}
                                    {{ article.id|rating_positive }}
                                {% endif %}
                            </h5-2>
                        </li>
                        <li data-id="{{ article.id }}" data-type="article" data-action="dislike" title="Не нравится">
                            <img src="{% static 'svg/dislike.svg' %}" height="20px" alt="dislike">
                            <h5-2 data-count="negative">
                                {% if article.rating.dislikes.count %}
                                    {{ article.rating.dislikes.count }}
                                {% else %}
                                    {{ article.id|rating_negative }}
                                {% endif %}
                            </h5-2>
                        </li>
                        {#                        <li><img src="{% static 'svg/carbon_view-filled_active.svg' %}" alt="view"></li>#}
                        {#                        <li>#}
                        {#                            <h5-2>435</h5-2>#}
                        {#                        </li>#}
                        {#                        <li><a href="/"><img src="{% static 'svg/fluent_comment-24-filled_active.svg' %}"#}
                        {#                                             alt="comm"></a></li>#}
                        {#                        <li>#}
                        {#                            <h5-2>12</h5-2>#}
                        {#                        </li>#}
                    </ul>
                </div>

            {% endif %}

        </div>

        <div class="section-right">

            <div class="section-right-block">

            </div>

        </div>
    </div>

{% endblock %}
