<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta html-equiv="X-UA-Compatible" content="ie=edge">
    <title>Intergalactic Entertainment</title>
    <link rel="stylesheet" type="text/css" href="../../../static/css/style.css">
</head>

<body>
<div class="wrapper">

    <div class="header">
        <div class="header-container">
            <a href="/"><img src="../../../static/svg/logo.svg" alt="logo"></a>
        </div>
    </div>

    <div class="container">

        <div class="menu"> <!-- Блок меню. Состоит из двух групп: левого меню и правого.-->

            <div class="menu-left">
                <ul class="menu-left"> <!-- Прижат к левому краю блока-->
                    <li><a href="/">Все потоки</a></li>
                    <li><a href="/about/">Дизайн</a></li>
                    <li><a href="/contacts/">Веб-разработка</a></li>
                    <li><a href="/editor/">Мобильная разработка</a></li>
                    <li><a href="/input/">Маркетинг</a></li>
                </ul>
            </div>

            <div class="menu-right"> <!-- Прижат к правому краю блока-->
                <ul class="menu-right">
                    <li><a href="{% url 'usersapp:index' %}">Войти</a></li>
                    <li><a href="{% url 'usersapp:registration' %}" class="button1">Регистрация</a></li> <!--Сделана как ссылка с кнопкой (не active)-->
                </ul>
            </div>

        </div>

        <div class="container">

                <div class="section-title">
                    <h2>Все потоки</h2>
                </div>

                <div class="section-menu"></div>

        </div>
        <div class="content-container">
            <div class="section-left">
                <div class="section-indent"></div>
                <div class="author-data">
                    <ul class="author-data">
                        <li><img src="../../../static/svg/icon2.svg" alt="icon"></li>
                        <li><h6-1>Василий</h6-1></li>
                        <li><h6-2>24 мая 2021 в 9:23</h6-2></li>
                    </ul>
                </div>

                <div class="section-left-title">
                    <h2><h2-2>Как меня чуть не уволили из-за токсичного поведения и что было дальше</h2-2></h2>
                </div>

                <div class="chapter"><h6-3>Маркетинг</h6-3></div>

                <div class="section-left-text">
                    <h5-1><p>Началось все с устройства на новую работу. Новый проект казался интересным, коллеги –
                            доброжелательными, так что я с радостью принял оффер. Первое время я только погружался в
                            проект, разбирался с его особенностями и особо ничего не критиковал. Все-таки я тут новичок,
                            ещё не в курсе всей ситуации, и вообще, в чужой монастырь со своим уставом не лезут.</p><br>

                        <p>Однако по окончании испытательного срока я уже понял, что в команде я остаюсь,
                            а значит было бы неплохо влиять на будущее проекта и активнее выражать свое мнение,
                            даже если оно кажется непопулярным. Проект уже разрабатывался долгое время,
                            в нем накопилось немало технического долга, который меня сильно расстраивал.
                            Я пытался его постепенно разбирать, работая по скаутскому принципу –
                            оставлять поляну (в данном случае код) чище, чем она была до моего прихода.
                            Однако, этого было мало, нужно было склонить к этому и остальных коллег тоже,
                            чтобы пока я улучшал в одном месте, они не накапливали долг в другом.</p><br>

                        <p>Как мне казалось, все предложения я вносил конструктивно, ни о какой токсичности подумать
                            и не мог, но в реальности все вышло иначе.</p></h5-1>
                </div>

                <div class="open-text">
                    <a href="/" class="button2">Читать далее</a>
                </div>

                <div class="like-comment">
                    <ul class="like-comment">
                        <li><a href="/"><img src="../../../static/svg/flat-color-icons_like_active.svg" alt="like"></a></li>
                        <li><h5-2>56</h5-2></li>
                        <li><img src="../../../static/svg/carbon_view-filled_active.svg" alt="view"></li>
                        <li><h5-2>435</h5-2></li>
                        <li><a href="/"><img src="../../../static/svg/fluent_comment-24-filled_active.svg" alt="comm"></a></li>
                        <li><h5-2>12</h5-2></li>
                    </ul>
                </div>
                <div class="section-indent"></div>
                <div class="author-data">
                    <ul class="author-data">
                        <li><img src="../../../static/svg/icon3.svg" alt="icon"></li>
                        <li><h6-1>Турбоплюс</h6-1></li>
                        <li><h6-2>21 мая 2021 в 14:07</h6-2></li>
                    </ul>
                </div>

                <div class="section-left-title">
                    <h2><h2-2>AWS, ELB, CDN, Auto Scaling и другие аббревиатуры и термины для WebRTC с низкой задержкой</h2-2></h2>
                </div>
                <div class="chapter"><h6-3>Дизайн</h6-3></div>
                <div class="section-left-text">
                    <h5-1><p>Современные браузеры не предоставляют возможность выбора - использовать WebRTC
                        или не использовать. И если проиграть поток можно по HLS, MSE, то захватить поток с камеры
                        и публиковать поток из браузера можно только с помощью WebRTC. Производители браузеров
                        приняли этот "формат" и внедрили его в свои продукты. Так же как в свое время,
                        те же вендоры поддерживали Flash Player в качестве плагина. Текущая ситуация с WebRTC
                        отличается только тем, что WebRTC встроен в браузер нативно, на уровне кода,
                        а не в виде плагина. Если через пару лет кто-то предложит лучшую библиотеку для работы с видео,
                        нет сомнений, что вендоры перейдут на эту новую технологию. Но сегодня в мире браузеров
                        правит бал Chrome, поэтому горизонт для WebRTC остается чистым.</p><br>

                        <p>Протокол RTMP в свое время вышел за пределы плеера и браузера и в настоящий момент активно
                            используется для скармливания видео потоков крупным сервисам, таким как YouTube,
                            Facebook и Twitch. Тоже самое происходит сейчас и с WebRTC, который тоже вышел
                            за пределы браузера и перестал быть просто браузерной библиотекой для работы с видео.
                            Сегодня WebRTC можно активно использовать, например, для обмена трафиком между серверами.
                            И далее мы расскажем, как это работает в CDN - когда много стриминговых серверов
                            делят возросшую нагрузку.</p></h5-1>
                </div>
                <div class="open-text">
                    <a href="/" class="button2">Читать далее</a>
                </div>
                <div class="like-comment">
                    <ul class="like-comment">
                        <li><a href="/"><img src="../../../static/svg/flat-color-icons_like.svg" alt="like"></a></li>
                        <li><h5-2>12</h5-2></li>
                        <li><img src="../../../static/svg/carbon_view-filled_active.svg" alt="view"></li>
                        <li><h5-2>134</h5-2></li>
                        <li><a href="/"><img src="../../../static/svg/fluent_comment-24-filled_active.svg" alt="comm"></a></li>
                        <li><h5-2>3</h5-2></li>
                    </ul>
                </div>

            </div>

            <div class="section-right">

                <div class="section-right-block">

                </div>

            </div>
        </div>
    </div>

    <div class="footer">
        <div class="footer-container">

        </div>
    </div>
</div>
</body>
</html>