{% extends 'base.html' %}

{% block content %}
    <h5-1>
        <h2 class="mt0">Авторам</h2>
        <ul>
            <li>
                Любой статье, которое содержит информацию, не предназначенную для пользователей младше 18 лет, должен
                быть
                присвоен статус <b>"18+"</b> в заголовке статьи.
            </li>
            <li>
                Запрещена публикация перевода статьи без официального разрешения автора оригинала.
            </li>
            <li>
                Запрещено размещать на обложках произведений изображения или фотографию обнаженных (полностью или
                частично)
                людей, а так же людей в вызывающих или оскорбительных позах.
            </li>
        </ul>

        <h2>Общие правила. Пожалуйста</h2>
        <ul>
            <li>
                <b>Будьте вежливы.</b> Помните, что под чужим никнеймом скрывается такой же человек, как и вы.
                В случае не соблюдения данного правила предусмотрена блокировка аккаунта на срок до 2-х недель.
            </li>
            <li>
                <b>Указывайте правильные теги к произведениям и постам.</b> Это значительно облегчает поиск.
            </li>
            <li>
                <b>Голосуйте за комментарии.</b> Поставьте плюс, если вы согласны с мнением автора или минус, если
                против.
                Не оскорбляйте пользователей, если ваши мнения не совпадают
            </li>
            <li>
                <b>Используйте кнопку "Пожаловаться" .</b>
                Если вы заметили нарушение правил, неправильные теги или материал "для взрослых" без соответсвующей
                пометки,
                сообщите об этом администрации
                через специальную форму или отправьте письмо со скриншотом нарушения на адрес pythonagile449@gmail.com.
            </li>
            <li>
                <b>Пишите грамотно.</b> Мы любим русский язык и не любим тех, кто его коверкает.
                Запрещено использовать КАПС (заглавные буквы).
                Ошибки и опечатки бывают у всех — старайтесь проверять текст перед отправкой.
            </li>
        </ul>
        <h2>Пожалуйста, <span class="text-danger">не надо</span></h2>
        <ul class="rules-list">
            <li>
                <b>Публиковать одну и ту же статью по нескольку раз</b> как новую.
                Перепубликация произведений, в том числе в других форматах (в виде сборников, омнибусов, трилогий и
                т.п.) не приветствуется
                так как создает путаницу для читателей и (в случае публикации по частям) приводит к злоупотреблению
                функционалом сайта.
                К этому правилу относится так же:
                <ul>
                    <li>
                        Перепубликация статьи после редактуры. Для серьезной редактуры достаточно временно скрыть
                        статью в черновик
                        (чтобы читателям не приходило чрезмерное количество уведомлений), внести изменения и вернуть в
                        статус "опубликовано".
                    </li>
                    <li>
                        Перепубликация частей статьи, в том числе перенос фрагментов одной статьи в другую. Это в
                        первую очередь относится к статьям в статусе "Опубликовано".
                    </li>
                    <li>
                        Из данного пункта возможны исключения. Если статья достаточно длительный период находилась
                        в
                        черновике,
                        а сейчас вы снова хотите её опубликовать - свяжитесь с администрацией ресурса и опишите
                        ситуацию.
                        Мы готовы рассмотреть и другие случаи, когда перепубликация может быть необходима, если они не
                        описаны выше.
                    </li>
                    <li>
                        Для платных статей любое действие, связанное с перепубликацией текста необходимо предварительно
                        согласовать с администрацией.
                    </li>
                </ul>
            </li>
            <li>
                Обсуждать или участвовать в обсуждении <b>сторонних тем в комментариях под статьёй</b>.
            </li>
            <li>
                <b>Злоупотреблять</b> публикацией <b>видео</b> и <b>изображений</b> в комментариях к статье (при
                этом
                в случае публикации и видео, и картинки лучше прятать под спойлер).
            </li>
            <li>Публиковать любой материал шокирующего содержания (18+, расчлененка, фото/видео мертвых животных
                порнография
                и т.д.) <b>без спойлера и соответственного предупреждения</b>.
                Данное правило касается любой публикации на сайте, включая комментарии. Предупреждением для статьи
                служит метка "18+"
            </li>
            <li>
                Публиковать в комментариях к произведению видео и изображения, <b>не относящиеся</b> к нему.
            </li>
            <li>
                Переносить <b>личное общение в комментарии</b> к статье.
            </li>
            <li>
                Обходить ограничение <b>игнор-листа</b> с помощью создания корневых комментариев либо ответов к
                комментариям
                другим пользователям (этот пункт касается также любых обсуждений на сайте).
            </li>
            <li>
                <b>Спамить.</b> Создавать рекламные сообщения (в том числе личные) или комментарии. Призывать к накрутке
                голосов. Обратите внимание, что призыв в рассылке прочитать ваше произведение/вступить в группу и т.п.
                приравнивается к спаму.
            </li>
            <li>
                <b>Копировать контент.</b> Размещение полностью скопированного контента с других сайтов запрещено
                — даже при использовании гиперссылки на источник. Мы за авторские материалы.
            </li>
            <li>
                <b>Создавать дополнительные аккаунты.</b> Пожалуйста, не нужно пытаться обойти блокировку аккаунта,
                накручивать рейтинг статьям. Все это может привести к вечной блокировке вашего аккаунта.
            </li>
            <li>
                <b>Размещать запрещенный контент:</b>
                <ul>
                    <li>побуждающий к скачиванию пиратского контента и ссылки на пиратский контент</li>
                    <li>порнографический контент</li>
                    <li>провокации на тему сексуальной ориентации</li>
                    <li>контент политического, эзотерического или религиозного характера</li>
                    <li>другую информацию, запрещенную законом РФ</li>
                </ul>
            </li>
            <li>
                <b>Использовать контент, на который у вас нет прав или разрешения от правообладателя</b>.
                Под контентом понимаются обложки, иллюстрации, фотографии и видео.
                В противном случае ваша учетная запись может быть заблокирована, а контент удален.
            </li>
            <li>
                <b>Размещать чужую персональную информацию без разрешения владельца.</b>
                Под чужой персональной информацией понимаются фотографии, ФИО, адреса, номера телефонов, ссылки на
                страницы
                в социальных сетях и т.д.
            </li>
            <li>
                Публиковать <b>ссылки</b> (а так же QR-коды и прочее) <b>на сторонние сайты и площадки</b>
                (за
                исключением личных авторских сайтов) в тексте статей, иллюстрациях, тексте и аннотации
                произведений.<br/>
                Подобные ссылки вы можете разместить в примечаниях автора (в случае статьи) или на своей личной
                странице в разделе "О себе".
            </li>
            <li>Использовать в названиях произведений, записей блога, иллюстраций или в личном псевдониме Caps-Lock (за
                исключением аббревиатур), смайлики, ссылки и спецсимволы.
            </li>
            <li>
                <b>Обсуждать правила сайта и действия администрации, направленные на их соблюдение.</b>
                Подобные вопросы решаются путем личной переписки с администрацией.
            </li>
            <li>
                Использовать минусы к комментариям для <b>троллинга</b> другого пользователя. "Троллингом" считается
                многократное нажатие 👎 к комментариям одной и той же книги или поста.
            </li>
        </ul>
        <p>
            Список нарушений остаётся открытым, потому что всегда можно придумать что-то, не описанное выше.
            В таких случаях модераторы руководствуются здравым смыслом и собственным чувством прекрасного.
            Обсуждать их решения и создавать на эту темы агитационные публикации не стоит — если они кого-то забанили,
            значит, у них была довольно веская причина.
        </p>
    </h5-1>
{% endblock %}