{% load static %}


<div class="section-right"> <!-- Правая секция -->
    <div class="indent-40"></div> <!-- Топ контент -->
    <div class="section-right-block">
        <div class="top-info-menu-field">
            <div class="top-info-menu">
                <div id="top-menu-dropdown" class="dropdown">
                    <div class="top-menu-dropbtn">
                        <svg class="icon-top-menu">
                            <use xlink:href="#top_menu"></use>
                        </svg>
                    </div>
                    <div class="dropdown-content">
                        <div class="menu-dropdown"><a class="link-menu" href="/">Лучшие статьи</a></div>
{#                        <div class="menu-dropdown"><a class="link-menu" href="/">По дате</a></div>#}
                        {#                        <div class="menu-dropdown"><a class="link-menu" href="/">Горячие&nbsp;темы</a></div>#}
                        {#                        <div class="menu-dropdown"><a class="link-menu" href="/">Лучшие&nbsp;авторы</a></div>#}
                    </div>
                </div>
            </div>
            <div class="content-top-info-title">
                <h5>Лучшие&nbsp;статьи</h5>
            </div>
            <div class="top-info-title">
                <h5>ТОП-лист</h5>
            </div>
        </div>
        <div class="indent-10"></div>
        <div class="content-top-info">
            {% for top_article in top_articles %}
                <div class="short-article-field">
                    <div class="short-article-title">
                        <a class="link-top-info-menu"
                           href="{% url 'mainapp:article_detail' top_article.id %}">{{ top_article.title|title }}</a>
                    </div>
                    <div class="short-article-data">
                        <div class="like-comment">
                            <ul class="lvc-field">
                                <li>
                                    <div class="lvc-group">
                                        <ul class="lvc-group">
                                            <li><a href="/"><img src="{% static 'svg/chart.svg' %}" alt="chart"></a>
                                            </li>
                                            <li>
                                                <h5-2-lvc>{{ top_article.rating }}</h5-2-lvc>
                                            </li>
                                            <!--<li><a href="/"><img src="svg/down.svg" alt="like"></a></li>-->
                                            <!--<li><h5-2-lvc>-14</h5-2-lchartvc></li>-->
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="lvc-group">
                                        <ul class="lvc-group">
                                            <li><img src="{% static 'svg/carbon_view-filled_active.svg' %}"
                                                     alt="view"></li>
                                            <li>
                                                <h5-2-lvc>{{ top_article.views }}</h5-2-lvc>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="lvc-group">
                                        <ul class="lvc-group">
                                            <li>
                                                <svg class="icon-comment">
                                                    <use xlink:href="#fluent_comment-24-filled_active"></use>
                                                </svg>
                                            <li class="comm_number">
                                                <h5-2-lvc>{{ top_article.comments }}</h5-2-lvc>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="lvc-group">
                                        <ul class="lvc-group">
                                            <li title="Жалобы">
                                                <img src="{% static 'svg/bad-no-hover.svg' %}" alt="bad">
                                            </li>
                                        {# TODO заменить на счетчик жалоб#}
                                            <h5-2-lvc>{{ top_article.comm }}</h5-2-lvc>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
