{% load static %}



<div class="section-right"> <!-- Правая секция -->
    <div id="top-container">
        <div class="indent-40"></div> <!-- Топ контент -->
        <div class="section-right-block">
            <div class="top-info-menu-field">
                <div class="top-info-menu">
                    <div class="dropdown">
                        <div class="top-menu-dropbtn">
                            <svg class="icon-top-menu">
                                <use xlink:href="#top_menu"></use>
                            </svg>
                        </div>
                        <div class="dropdown-content">
                            <div class="menu-dropdown"><a class="link-menu" href="/">Лучшие&nbsp;статьи</a></div>
                            {#                        <div class="menu-dropdown"><a class="link-menu" href="/">Популярное</a></div>#}
                            {#                        <div class="menu-dropdown"><a class="link-menu" href="/">Горячие&nbsp;темы</a></div>#}
                            {#                        <div class="menu-dropdown"><a class="link-menu" href="/">Лучшие&nbsp;авторы</a></div>#}
                        </div>
                    </div>
                </div>
                <div class="content-top-info-title">
                    <h5>Лучшие&nbsp;статьи</h5>
                </div>
                <div class="top-info-title">
                    <h5>ТОП-лист</h5>
                </div>
            </div>
            <div class="indent-10"></div>
            <div class="content-top-info">
            </div>
        </div>
    </div>
</div>
<!--        Конец топ контента-->
<!-- Конец правой секции -->
