{% extends 'base.html' %}
{% load static %}
{% load martortags %}
{% load ratings %}
{% load comments %}

{% block title %}
{{ title }} :: {{ block.super }}
{% endblock %}

{% block css %}
<link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
<link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <div class="indent-20"></div>
    <div class="content-container">

        <div class="section-left">
            <div class="section-part">
                <div class="section-left-part-user">
                    <div class="indent-30"></div>
                        <div class="field-50">
                            <div class="block-text">
                                <h5-3>Никнейм:</h5-3>
                            </div>
                            <div class="block-info">
                                <div class="field-text-left">
                                    <h5-3>{{author.username}}</h5-3>
                                </div>
                            </div>
                        </div>

                        <div class="field-50">
                            <div class="block-text">
                                <h5-3>E-mail:</h5-3>
                            </div>
                            <div class="block-info">
                                    <div class="field-text-left">
                                        <h5-3>{{author.email}}</h5-3>
                                    </div>
                            </div>
                        </div>

                        <div class="field-50">
                            <div class="block-text">
                                <h5-3>Имя:</h5-3>
                            </div>
                            <div class="block-info">
                                <div class="field-text-left">
                                    <h5-3>{{author.first_name}}</h5-3>
                                </div>
                            </div>
                        </div>

                        <div class="field-50">
                            <div class="block-text">
                                <h5-3>Фамилия:</h5-3>
                            </div>
                            <div class="block-info">
                                <div class="field-text-left">
                                    <h5-3>{{author.last_name}}</h5-3>
                                </div>
                            </div>
                        </div>
                        <div class="field-auto">
                            <div class="block-text">
                                <h5-3>О себе:</h5-3>
                            </div>
                            <div class="block-info-auto">
                                <h5-3>{{author.user_information}}</h5-3>
                            </div>
                        </div>
                        <div class="field-50">
                            <div class="block-text">
                                <h5-3>Пол:</h5-3>
                            </div>
                            <div class="block-info">
                                <div class="field-text-left">
                                    <h5-3>{{author.get_gender_display}}</h5-3>
                                </div>
                            </div>
                        </div>
                        <div class="field-50">
                            <div class="block-text">
                                <h5-3>Дата рождения:</h5-3>
                            </div>
                            <div class="block-info">
                                <div class="field-text-left">
                                    <h5-3>{{author.birthday}}</h5-3>
                                </div>
                            </div>
                        </div>
                        <div class="field-50">
                            <div class="block-text">
                                <h5-3>Статус:</h5-3>
                            </div>
                            <div class="block-info">
                                <div class="field-text-left">
                                    {% if author.is_superuser %}
                                        <h5-3>Администратор</h5-3>
                                    {% elif author.is_staff %}
                                        <h5-3>Модератор</h5-3>
                                    {% else %}
                                        <h5-3>Пользователь</h5-3>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                </div>
                <div class="section-right-part-user">
                    <div class="block-foto">
                        {% if author.profile_photo|length == 0 %}
                            <img src="{% static 'svg/block_foto.svg' %}" alt={{article.author.id}}  width="100%" height="100%"></a>
                        {% else %}
                             <img src=/media/{{author.profile_photo}} alt={{article.author.id}} width="100%" height="100%">
                        {% endif %}

                    </div>
                    <div class="field-50"></div>
                    <div class="block-user-info">
                        <div class="indent-20"></div>
                        <div class="field-50">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-right">
            <div class="section-right-block">
                <div class="user-info-menu-field">
                    <div class="content-user-info-title">
                        <h5-3>Публикации {{author.username}}:</h5-3>
                    </div>
                </div>
                <div class="indent-10"></div>
                <div class="content-user-info">
                    {%for article in author_articles%}
                        <div class="author-data">
                            <ul class="user-article-data">
                                <li>
                                    <h6-2>{{ article.publication_date }}</h6-2>
                                </li>
                            </ul>
                        </div>
                        <div class="short-article-field">
                            <div class="short-article-title">
                                <a class="link-user-info-menu"
                                   href="{% url 'mainapp:article_detail' article.id %}">{{ article.title|title }}</a>
                            </div>
                            <ul class="user-article-data">
                                <li>
                                    <h6-2>{{ article.hub.name }}</h6-2>
                                </li>
                            </ul>
                            <div class="short-article-data">
                                <div class="like-comment">
                                    <ul class="lvc-field">
                                        <li>
                                            <div class="lvc-group">
                                                <ul class="lvc-group">
                                                    <li><img src="{% static 'svg/chart.svg' %}" alt="chart">
                                                    </li>
                                                    <li>
                                                        <h5-2-lvc>{{ article.id|rating_total }}</h5-2-lvc>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="lvc-group">
                                                <ul class="lvc-group">
                                                    <li><img src="{% static 'svg/carbon_view-filled_active.svg' %}"
                                                             alt="view"></li>
                                                    <li>
                                                        <h5-2-lvc>{{ article.views }}</h5-2-lvc>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="lvc-group">
                                                <ul class="lvc-group">
                                                    {# TODO при нажатии на комментарий редирект на страницу статьи и фокус в поле ввода комментария#}
                                                    <li title="Комментарии">
                                                        <a href="{% url 'mainapp:article_detail' article.pk %}"
                                                           title="Читать и комментировать">
                                                            <svg class="icon-comment">
                                                                <use xlink:href="#fluent_comment-24-filled_active"></use>
                                                            </svg>
                                                        </a>
                                                    </li>
                                                    <h5-2-lvc>{{ article.pk|get_comments_count }}</h5-2-lvc>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Hidden SVG sprite -->
    <svg width="0" height="0" class="hidden">
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="fluent_comment-24-filled_active">
            <path d="M4.375 15a2.708 2.708 0 01-2.708-2.708V5.208A2.708 2.708 0 014.375 2.5h11.25a2.708 2.708 0 012.708 2.708v7.084A2.709 2.709 0 0115.625 15h-4.82l-4.49 3.18A.833.833 0 015 17.503V15h-.625z"></path>
        </symbol>
    </svg>
{% endblock %}
