{% extends 'base.html' %}
{% load static %}
{% load martortags %}
{% load ratings %}
{% load comments %}

{% block title %}
{{ title }} :: {{ block.super }}
{% endblock %}

{% block css %}
<link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
<link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <div class="indent-20"></div>
    <div class="content-container">

        <div class="section-left">
            <div class="section-part">
                <div class="section-left-part-user">
                    <div class="indent-30"></div>
                        <div class="field-50">
                            <div class="block-text">
                                <h5-3>Никнейм:</h5-3>
                            </div>
                            <div class="block-info">
                                <div class="field-text-left">
                                    <h5-3>{{author.username}}</h5-3>
                                </div>
                            </div>
                        </div>

                        <div class="field-50">
                            <div class="block-text">
                                <h5-3>E-mail:</h5-3>
                            </div>
                            <div class="block-info">
                                    <div class="field-text-left">
                                        <h5-3>{{author.email}}</h5-3>
                                    </div>
                            </div>
                        </div>

                        <div class="field-50">
                            <div class="block-text">
                                <h5-3>Имя:</h5-3>
                            </div>
                            <div class="block-info">
                                <div class="field-text-left">
                                    <h5-3>{{author.first_name}}</h5-3>
                                </div>
                            </div>
                        </div>

                        <div class="field-50">
                            <div class="block-text">
                                <h5-3>Фамилия:</h5-3>
                            </div>
                            <div class="block-info">
                                <div class="field-text-left">
                                    <h5-3>{{author.last_name}}</h5-3>
                                </div>
                            </div>
                        </div>
                        <div class="field-auto">
                            <div class="block-text">
                                <h5-3>О себе:</h5-3>
                            </div>
                            <div class="block-info-auto">
                                <h5-3>{{author.user_information}}</h5-3>
                            </div>
                        </div>
                        <div class="field-50">
                            <div class="block-text">
                                <h5-3>Пол:</h5-3>
                            </div>
                            <div class="block-info">
                                <div class="field-text-left">
                                    <h5-3>{{author.get_gender_display}}</h5-3>
                                </div>
                            </div>
                        </div>
                        <div class="field-50">
                            <div class="block-text">
                                <h5-3>Дата рождения:</h5-3>
                            </div>
                            <div class="block-info">
                                <div class="field-text-left">
                                    <h5-3>{{author.birthday}}</h5-3>
                                </div>
                            </div>
                        </div>
                        <div class="field-50">
                            <div class="block-text">
                                <h5-3>Статус:</h5-3>
                            </div>
                            <div class="block-info">
                                <div class="field-text-left">
                                    {% if author.is_superuser %}
                                        <h5-3>Администратор</h5-3>
                                    {% elif author.is_staff %}
                                        <h5-3>Модератор</h5-3>
                                    {% else %}
                                        <h5-3>Пользователь</h5-3>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                </div>
                <div class="section-right-part-user">
                    <div class="block-foto">
                        {% if author.profile_photo|length == 0 %}
                            <img src="{% static 'svg/block_foto.svg' %}" alt={{article.author.id}}  width="100%" height="100%"></a>
                        {% else %}
                             <img src=/media/{{author.profile_photo}} alt={{article.author.id}} width="100%" height="100%">
                        {% endif %}

                    </div>
                    <div class="field-50"></div>
                    <div class="block-user-info">
                        <div class="indent-20"></div>
                        <div class="field-50">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-right">

            <div class="section-right-block">

            </div>

        </div>
    </div>


<!--    <img src=/media/{{ author.profile_photo}} alt='Photo {{author.username}}'>-->
<!--    {%for article in author_articles%}-->
<!--        <div class="author_detail_article">-->
<!--            {{ article.title}}-->
<!--        </div>-->
<!--    <div class="author_detail_hub">-->
<!--            {{article.hub}}-->
<!--        </div>-->
<!--{% endfor%}-->
{% endblock %}
