<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <!--ИКОНКИ-->

    <!--Принять жалобу-->
    <svg class="icon-bad-ok">
        <use xlink:href="#bad-ok"></use>
    </svg>

    <!--Отозвать жалобу-->
    <svg class="icon-bad-revers">
        <use xlink:href="#bad-revers"></use>
    </svg>

    <!--Отклонить жалобу-->
    <svg class="icon-bad-x">
        <use xlink:href="#bad-x"></use>
    </svg>

    <!--Подать жалобу-->
    <svg class="icon-bad">
        <use xlink:href="#bad"></use>
    </svg>
    <!--ИКОНКИ-END-->



    <!--Скрытый блок для иконок-->
<svg width="0" height="0" class="hidden">

    <!--Принять жалобу-->
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="bad-ok">
        <path d="M12 2c-4.2 0-8 3.22-8 8.2 0 3.32 2.67 7.25 8 11.8 5.33-4.55 8-8.48 8-11.8C20 5.22 16.2 2 12 2zm0 17.33c-4.05-3.7-6-6.79-6-9.14C6 6.57 8.65 4 12 4s6 2.57 6 6.2c0 2.34-1.95 5.44-6 9.13z"></path>
        <path d="M12.063 14.83c.09-.145 0 0 .416-.448l3.289-5.232c.155-.247.232-.543.232-.89 0-.348-.077-.645-.232-.89-.155-.247-.341-.37-.56-.37-.218 0-.404.123-.559.37l-3.03 4.798-1.268-2.02c-.155-.246-.341-.369-.56-.369-.218 0-.404.123-.559.37-.155.245-.232.542-.232.89 0 .347.077.644.232.89l1.556 2.475c.4.426.309.281.4.426 0 0 .171.19.426.16.264.058.448-.16.448-.16z"></path>
    </symbol>

    <!--Отозвать жалобу-->
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="bad-revers">
        <path d="M12 2c-4.2 0-8 3.22-8 8.2 0 3.32 2.67 7.25 8 11.8 5.33-4.55 8-8.48 8-11.8C20 5.22 16.2 2 12 2zm0 17.33c-4.05-3.7-6-6.79-6-9.14C6 6.57 8.65 4 12 4s6 2.57 6 6.2c0 2.34-1.95 5.44-6 9.13z"></path>
        <path d="M9.684 7.665c0-.176.066-.345.185-.47A.616.616 0 0110.315 7h2.527c.995 0 1.796.365 2.347.964.524.576.814 1.343.81 2.14a3.158 3.158 0 01-.81 2.14c-.551.6-1.352.965-2.348.965h-2.686l.607.639a.666.666 0 01.2.474.698.698 0 01-.184.483.604.604 0 01-.909-.017l-1.684-1.774a.684.684 0 01-.185-.47c0-.177.066-.346.185-.47L9.869 10.3a.614.614 0 01.442-.179c.163.003.32.073.435.195a.683.683 0 01.185.458.685.685 0 01-.17.466l-.606.638h2.687c.688 0 1.15-.244 1.441-.56a1.79 1.79 0 00.453-1.214 1.79 1.79 0 00-.453-1.214c-.29-.315-.753-.56-1.441-.56h-2.527a.616.616 0 01-.446-.194.684.684 0 01-.185-.47z"></path>
    </symbol>

    <!--Отклонить жалобу-->
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="bad-x">
        <path d="M12 2c-4.2 0-8 3.22-8 8.2 0 3.32 2.67 7.25 8 11.8 5.33-4.55 8-8.48 8-11.8C20 5.22 16.2 2 12 2zm0 17.33c-4.05-3.7-6-6.79-6-9.14C6 6.57 8.65 4 12 4s6 2.57 6 6.2c0 2.34-1.95 5.44-6 9.13z"></path>
        <path d="M8.5 8.41L9.91 7 12 9.09 14.09 7l1.41 1.41-2.08 2.09 2.08 2.09L14.09 14 12 11.92 9.91 14 8.5 12.59l2.09-2.09L8.5 8.41z"></path>
    </symbol>

    <!--Подать жалобу-->
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="bad">
        <path d="M12 2c-4.2 0-8 3.22-8 8.2 0 3.32 2.67 7.25 8 11.8 5.33-4.55 8-8.48 8-11.8C20 5.22 16.2 2 12 2zm0 17.33c-4.05-3.7-6-6.79-6-9.14C6 6.57 8.65 4 12 4s6 2.57 6 6.2c0 2.34-1.95 5.44-6 9.13z"></path>
        <path d="M11 6h2v5h-2V6zm0 7h2v2h-2v-2z"></path>
    </symbol>
</svg>
    <!--Скрытый блок для иконок-END-->

<!--    ________________________________________________________________________________________________________________-->


    <!--Форма "Подать жалобу"-->
<div class="content-container">
    <div class="section-left">
        <div class="block-comment">
            <div class="indent-60"></div>

            <div class="my-comment">
                <div class="field-50">
                    <h3>Подать жалобу</h3>
                </div>
                <div class="my-text">
                    <div class="editor-field">
                        <!-- Окно редактора внедрять сюда! -->
                    </div>
                    <div class="button-field">
                        <div class="indent-10"></div>
                        <div class="field-30">
                            <a><button  class="button23" type="submit">Пожаловаться</button></a>
                        </div>
                        <div class="indent-10"></div>
                    </div>
                </div>
                <div class="indent-60"></div>
            </div>
        </div>
    </div>
</div>
    <!--Форма "Подать жалобу"-END-->

<!--    __________________________________________________________________________________________________________-->


    <!--Просмотр одной жалобы пользователем-->

<div class="content-container">
    <div class="section-left">
        <div class="author-comment">
            <div class="author-data">
                <ul class="author-data">
                    <li><h6-2>24 мая 2021 в 14:05</h6-2></li>
                </ul>
            </div>
            <div class="author-text">
                <h5-1><p>Вообще, меня, как глубоко верующего человека, очень сильно обижает фраза "макаронного монстра не существует!
                    То есть как это не существует??? Разберитесь с этим, пожалуйста! П.С. Конкретно в этой статье ничего такого не написано,
                    но автор явно хотел меня оскорбить чем-нибудь! Клянуся!</p></h5-1>
            </div>
            <div class="indent-60"></div>
            <div class="field-30">
                <a><button  class="button24" type="submit">Отозвать жалобу</button></a>
            </div>
        </div>
    </div>
</div>
    <!--Просмотр одной жалобы пользователем-END-->

<!--    __________________________________________________________________________________________________________-->
<div class="indent-60"></div>
    <!--Просмотр одной жалобы модератором-->
<div class="content-container">
    <div class="section-left">
        <div class="author-comment">
            <div class="author-data">
                <ul class="author-data">
                    <li><img src="svg/icon2.svg" alt="icon"></li>
                    <li><h6-1>Иннокентий</h6-1></li>
                    <li><h6-2>24 мая 2021 в 14:05</h6-2></li>
                </ul>
            </div>
            <div class="author-text">
                <h5-1><p>Вообще, меня, как глубоко верующего человека, очень сильно обижает фраза "макаронного монстра не существует!
                    То есть как это не существует??? Разберитесь с этим, пожалуйста! П.С. Конкретно в этой статье ничего такого не написано,
                    но автор явно хотел меня оскорбить чем-нибудь! Клянуся!</p></h5-1>
            </div>
            <div class="indent-60"></div>
            <div class="field-30">
                <div>
                    <a><button  class="button25" type="submit">Отклонить жалобу</button></a>
                    <a><button  class="button26" type="submit">Принять&nbsp;и&nbsp;снять&nbsp;с&nbsp;публикации</button></a>
                    <a><button  class="button27" type="submit">Принять&nbsp;и&nbsp;заблокировать&nbsp;автора</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

    <!--Просмотр одной жалобы модератором-END-->
    <div class="indent-60"></div>
</body>
</html>