{% load static %}
{% load martortags %}
{% load ratings %}
{% load comments %}

<div class="infinite-container">
    {% for article in targets %}
        <div class="infinite-item">
            <div class="section-indent"></div>
            <div class="author-data">
                <ul class="author-data">
                    <li><img src="{% static 'svg/icon2.svg' %}" alt="icon"></li>
                    <li>
                        <h6-1>{{ article.author.username }}</h6-1>
                    </li>
                    <li>
                        <h6-2>{{ article.publication_date }}</h6-2>
                    </li>
                </ul>
            </div>

            <div class="section-left-title">
                <h2>
                    <h2-2>
                        <a class="article-heading-link" href="{% url 'mainapp:article_detail' article.pk %}"
                           style="">
                            {{ article.title }}
                        </a>
                    </h2-2>
                </h2>
            </div>

            <div class="chapter">
                <h6-3>{{ article.hub.name }}</h6-3>
            </div>

            <div class="section-left-text">
                {% if article.editor == 'CK' %}
                    <div class="ck-preview">
                        {{ article.get_article_preview|safe|truncatechars:750 }}
                    </div>
                {% elif article.editor == 'MD' %}
                    <div class="martor-preview">
                        {{ article.get_article_preview|safe_markdown|truncatechars:750 }}
                    </div>
                {% endif %}
            </div>

            <div class="open-text">
                <a href="{% url 'mainapp:article_detail' article.pk %}" class="button2">Читать далее</a>
            </div>

            <div class="like-comment">
                <ul class="lvc-field">
                    <li>
                        <div class="lvc-group">
                            <ul class="lvc-group">
                                <li title="Рейтинг"><img src="{% static 'svg/chart.svg' %}" alt="like"></li>
                                <li>
                                    <h5-2-lvc>{{ article.id|rating_total }}</h5-2-lvc>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="lvc-group">
                            <ul class="lvc-group">
                                <li title="Просмотры"><img
                                        src="{% static 'svg/carbon_view-filled_active.svg' %}"
                                        alt="view"></li>
                                <li>
                                    <h5-2-lvc>{{ article.get_views_count }}</h5-2-lvc>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="lvc-group">
                            <ul class="lvc-group">
                                {# TODO при нажатии на комментарий редирект на страницу статьи и фокус в поле ввода комментария#}
                                <li title="Комментарии">
                                    <a href="{% url 'mainapp:article_detail' article.pk %}"
                                       title="Читать и комментировать">
                                        <svg class="icon-comment">
                                            <use xlink:href="#fluent_comment-24-filled_active"></use>
                                        </svg>
                                    </a>
                                </li>
                                <h5-2-lvc>{{ article.pk|get_comments_count }}</h5-2-lvc>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    {% endfor %}
</div>

<div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_next %}
                        <a class="infinite-more-link" href="/?page={{ page_obj.next_page_number }}"></a>
                    {% endif %}
                </span>
    <div class="loading-container" style="display: none; margin-top: 1em;width: 10em;height: 10em"></div>
</div>