<form action="/search/" method="GET" class="search-form">
    <input name="q" placeholder="Поиск" class="search-input input-text">
    <div class="form-filters">
        <a href="" class="search-tab-link" data-target-type="posts">Публикации</a>
        <a href="" class="search-tab-link" data-target-type="hubs">Хабы</a>
        <a href="" class="search-tab-link" data-target-type="users">Пользователи</a>
        <a href="" class="search-tab-link" data-target-type="comments">Комментарии</a>
    </div>
</form>